<html>
{{ include('emails/commun/header.html.twig') }}
<body>
<div style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;width:100%!important">
    <table align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
        <tbody>
        <tr>
            <td align="center">
                <center style="width:100%">
                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif" width="512">
                        <tbody>
                        {{ include('emails/commun/logo.html.twig') }}
                        <tr>
                            <td align="left">
                                <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                    <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                <tbody>

                                                <tr>
                                                    <td align="center" style="padding:20px 0 10px 0">
                                                        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                                                                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ nom }}</h3>
                                                                    <p>
                                                                        Nous vous remercions pour l'intérêt que vous avez accordé à Réseau Médical Services.
                                                                    </p>


                                                                  <p>
                                                                      Nous vous invitons à renseigner votre dossier afin de pouvoir accéder à <a href="{{ url }}" >MyRMS</a>, votre espace personnel qui vous offre toutes les fonctionnalités pour une meilleure collaboration après validation de votre compte.
                                                                  </p>

                                                                    {{ include('emails/commun/button_profil_site.html.twig') }}
                                                                    <p>
                                                                        <b>Vous pouvez à présent:</b>
                                                                        <ul>
                                                                        <li>
                                                                            gérer votre dossier pour postuler à nos offres de remplacement
                                                                        </li>
                                                                        <li>
                                                                            postuler sur nos offres (lien) depuis notre site internet,
                                                                        </li>
                                                                        <li>
                                                                            gérer vos spécialités
                                                                        </li>
                                                                        <li>
                                                                            gérer vos justificatifs de missions
                                                                        </li>
                                                                        <li>
                                                                            gérer vos candidatures
                                                                        </li>
                                                                        <li>
                                                                            gérer vos disponibilités
                                                                        </li>
                                                                        <li>
                                                                            avoir votre tableau de bord et suivre vos missions (rémunération, contrats, justificatifs de déplacement)
                                                                        </li>
                                                                    </ul>
                                                                    </p>

                                                                    <p>
                                                                        <b>NB:</b> Votre candidature ne sera possible qu’après validation de votre dossier !
                                                                    </p>
                                                                    <p>
                                                                        En attendant, vous pouvez continuer à consulter nos offres et, au besoin, nous contacter par :
                                                                    </p>
                                                                    <p>
                                                                        <ul>
                                                                        <li>
                                                                            <b>E-mail:</b> interim@reseaumedical.fr
                                                                        </li>
                                                                        <li>
                                                                            <b>Téléphone:</b> 06 69 46 22 11
                                                                        </li>
                                                                    </ul>

                                                                    </p>
                                                                    <p>

                                                                        Cordialement.
                                                                    </p>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {{ include('emails/commun/footer.html.twig') }}

                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>