<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>

        <p>
            M/Mme répondant au :
        <ul>
            <li>
                Nom: <b>{{ nom }} </b>
                Télephone : <b>{{ tel }}</b>
                E-mail : <b>{{ email }}</b>
            </li>
        </ul>

        </p>

        <p>
            A effectué une demande de mise à disposition en date du <b> {{ date('now')  | date("d-m-Y")}}</b>  via le formulaire de demande de devis
            pour le compte de l’établissement  <b>{{ ch }}</b>  dans le service :
        <ul>
            {% for item in specialites %}
                <li>
                    {{ item }}
                </li>
            {% endfor %}
        </ul>
        </p>
        <p>
            Pour la période allant du   <b>{{ date_debut | date("d-m-Y") }} au {{ date_fin | date("d-m-Y") }}</b>
        </p>


    </td>
</tr>