<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>
        <p>
            La candidature du  <b>Dr {{ content[0].nom }}  {{ content[0].prenom }}</b>  pour la mission  <b>{{ reference }}</b>   a été traitée.
        </p>

        {% if content |length > 0 %}
            <p>Mis a jour candidature</p>
            <p>
            <table cellspacing="0" cellpadding="15" width="100%" id="customers">
                <tr >

                    <th>Date </th>
                    <th>Vacation </th>
                    <th>Ancien Statut</th>
                    <th>Nouveau Statut</th>


                </tr>
                {% for  item in  content %}

                    <tr>

                        <td>{{ item.date |date("d-m-Y") }}</td>
                        <td>{{ item.designation}}</td>
                        <td>{{ item.statutCandidature}}</td>
                        <td>{{ item.statusChoisi }}</td>


                    </tr>

                {% endfor %}

            <p>
               <b>Auteur : {{ auteur }} </b>
        </p>
            </table>

        {% endif %}

        {#                                                                    <p>#}
        {#                                                                        <b>Condition Interimaire</b>#}
        {#                                                                    </p>#}
        {#                                                                    <p>#}
        {#                                                                        {{ content.condition_med }}#}
        {#                                                                    </p>#}


     <p>
         {{ condition_med | raw }}
     </p>







    </td>
</tr>