/* On commence par définir les propriétés de la page : les marges en haut
 * et en bas permettront d'insérer un en-tête et un pied de page */
@page {
  margin: 1%;
}
/* La position fixed permet de placer les éléments sur toutes les pages
 * du document pdf, le reste n'est que décoration */
#header {
  top: -10px;
  height: 40px;
  font-size: 10px;
}
#footer {
  font-size: 11px;
  bottom: -15px;
}
.li-type-annexe{
  display: inline-block;
  width: 18.5%;
  word-wrap: break-word;
  border-right: 1px solid #DEE2E6;
  margin-right: 5px;
  vertical-align: top;
  Word-break:break-all;
}
.ul-details-annexe{
  margin-left: -40px;
}
.li-details-annexe{
  list-style-type: none;
  font-size: 10px;
}
/* Pour améliorer un peu la lisibilité on ajoute une marge au corps de
 * texte. Ca aurait pu être fait en agrandissant les marges au niveau
 * de la page mais je trouve qu'utiliser un div dédié pour le contenu
 * est cohérent */
#content {
  margin-top: 10%;
  font-size: 9px;
  padding: 0;
}
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
.width-50{
  width: 50%;
}
.bg-lightgray{
  background-color: lightgray
}
.p-0{
  padding: 0;
}
.m-0{
  margin: 0;
}
.border-black{
  border: 1px solid black;
}
.font-10{
  font-size: 10px;
}
.font-9{
  font-size: 9px;
}
.font-8{
  font-size: 8px;
}
.vertical-align-top{
  vertical-align: top
}
td{
  vertical-align: top;
}
