<html>
<head>
    <link rel="icon" type="image/png" href="images/logo.png">

    <style>
        /* On commence par définir les propriétés de la page : les marges en haut
         * et en bas permettront d'insérer un en-tête et un pied de page */
        @page {
            margin: 5%;
        }
        /* La position fixed permet de placer les éléments sur toutes les pages
         * du document pdf, le reste n'est que décoration */
        #header {
            top: -50px;
            height: 50px;
        }
        #footer {
            font-size: 11px;
            bottom: -25px;
        }
        /* Pour améliorer un peu la lisibilité on ajoute une marge au corps de
         * texte. Ca aurait pu être fait en agrandissant les marges au niveau
         * de la page mais je trouve qu'utiliser un div dédié pour le contenu
         * est cohérent */
        #content {
            margin-top: 10%;
        }
    </style>
</head>
<body>
    {#Contrat de mise à disposition Contrat à retourner à l'ETT signé et tamponné sous 48 H.#}
    <div>
        <div id="header">
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%">
                        <p>
                            <strong>Réseau Médical Services</strong><br>
                            3 Avenue Paul Langevin - Enora Park <br>
                            33600 PESSAC <br>
                            Ape 7820Z Siret 51836321300035 <br>
                            N° Urssaf: 727000000604975280 <br>
                        </p>
                    </td>
                    <td style="width: 50%;text-align: right">
                        <p style="margin-left: 10%"> Contrat {{ data.contrat }} <br>
                            Initial <br>
                        </p>
                        <p><strong>Contrat de mise à disposition</strong></p>
                    </td>
                </tr>
            </table>
            {#<img src="http://127.0.0.1/api-master/web/images/logo.png" alt="logo RMS" style="float: right">#}
        </div>
        <!-- Maintenant on rempli le document -->
        <div id="content" style="font-size: 12px">
            <table style="width: 100%">
                <tr>
                    <td>
                        <table style="font-size: 15px;width: 100%;text-align: center;border: 1px solid black">
                            <tr>
                                <td><strong>{{ data.nomInterimaire | upper }}</strong></td>
                            </tr>
                            <tr>
                                <td>{{ data.adresseRueInterimaire | upper }}</td>
                            </tr>
                            <tr>
                                <td>{{data.adresseCodePostalInterimaire | upper}} {{data.adresseVilleInterimaire}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="font-size: 13px;background-color: lightgray;width: 100%">
                            <tr>
                                <td><strong>{{ data.raisonSociale | upper }}</strong></td>
                            </tr>
                            <tr>
                                <td>{{ data.adresseRueClient | upper }}</td>
                            </tr>
                            <tr>
                                <td>{{data.adresseCodePostalClient | upper}} {{data.adresseVilleClient | upper}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border: 1px solid black;text-align: center;width: 100%;font-size: 11.5px">
                            <tr>
                                <td style="text-align: left"><strong>N° Matricule</strong></td>
                                <td>{{ data.interimaire }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Nationalité</strong></td>
                                <td>{{ data.nationalite }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>N° Séc. Soc</strong></td>
                                <td>{{ data.securiteSociale }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Né(e) le </strong></td>
                                <td> {{ data.naissance }} </td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Qualification</strong></td>
                                <td>{{ data.qualification }}</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Titre Profession</strong></td>
                                <td><strong>{{ data.titreprofession }}</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Téléphone</strong></td>
                                <td>{{ data.telephoneInterimaire }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="border: 1px solid black;width: 100%;font-size: 13px">
                            <tr>
                                <td><strong>N° Client</strong></td>
                                <td>{{ data.client }}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact</strong></td>
                                <td>{{ data.contact }}</td>
                            </tr>
                            <tr>
                                <td><strong>Lieu Mission</strong></td>
                                <td>{{ data.lieuMission }}</td>
                            </tr>
                            <tr>
                                <td><strong>Moyen Acces</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Téléphone</strong></td>
                                <td>{{ data.telephoneClient }}</td>
                            </tr>
                            <tr>
                                <td><strong>Siret</strong></td>
                                <td>{{ data.siret }}</td>
                            </tr>
                            <tr>
                                <td><strong>Effectif</strong></td>
                                <td>: {{ data.effectif }}</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        <div style="border: 1px solid black; padding-left: 1%">
                            <table>
                                <tr>
                                    <td><strong>Motif</strong></td>
                                    <td>{{ data.motif }}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width: 50%">
                        <div style="border: 1px solid black; padding-left: 1%">
                            <table>
                                <tr>
                                    <td><strong>Justificatif</strong></td>
                                    <td>{{ data.justificatif }}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border: 1px solid black;width: 100%">
                            <tr>
                                <td><strong>Dates</strong></td>
                                <td><strong>{{ data.dateDebut }} au {{ data.dateFin }}</strong></td>
                            </tr>
                            <tr>
                                <td>A terme précis</td>
                                <td>{{ data.aTermePrecis }}</td>
                            </tr>
                            <tr>
                                <td><strong>Durée hebdo </strong></td>
                                <td><strong>{{ data.dureeHebdo }}</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Horaires </strong></td>
                                <td>{{ data.horaires}}</td>
                            </tr>
                            <tr>
                                <td><strong>Retraite </strong> :</td>
                                <td>{{ data.retraite }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    * Le terme de la mission prévu dans le contrat initial ou dans l'avenant de
                                    prolongation peut être aménagé dans les conditions prévues aux articles
                                    L.1251-30 et L.1251-31
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="border: 1px solid black;width: 100%;font-size: 12.5px">
                            <tr>
                                <td><strong>Caractéristiques du poste</strong></td>
                                <td>{{ data.caracteristiquePoste }}</td>
                            </tr>
                            <tr>
                                <td><strong>Risques professionnels</strong></td>
                                <td>{{ data.risquePersonnels }}</td>
                            </tr>
                            <tr>
                                <td><strong>Reférence de commande</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Salaire de référence</strong></td>
                                <td>{{ data.salaireReference}}</td>
                            </tr>
                            {% for item in  data.tabPrimes %}
                                <tr>
                                    <td><strong>{{ item.TxtPrime }}</strong></td>
                                    <td style="text-align: right">{{ item.TauxReference}} Eur</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2">
                                    Facteurs pénibilité: {{ data.facteursPenibilite }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        <div style="border: 1px solid black; padding-left: 1%">
                            <table>
                                <tr>
                                    <td colspan="2" style="font-size: 11px">
                                        - Dans le cas où l'accès aux équipements collectifs est assuré, les frais
                                        correspondants sont pris en charge par l'entreprise utilisatrice qui, le cas échéant,
                                        remboursera le Comité d'entreprise (Art L.1251-24). <br>
                                        - Toute clause tendant à
                                        interdire l'embauchage du salarié temporaire à l'issue de la mission est réputée
                                        non écrite (Art L.1251-44) . <br>
                                        - Les informations concernant : le motif, la durée, la
                                        rémunération et les caractéristiques particulières liées au poste de travail sont
                                        données sous la responsabilité exclusive de l'utilisateur, seul habilité à les justifier.<br>
                                        - Le paiement des jours fériés est dû au salarié temporaire indépendamment de
                                        l'ancienneté de celui-ci dès lors que les salariés de l'utilisateur en bénéficient (Art
                                        L.1251-18). <br>
                                        - L'utilisateur soussigné déclare avoir pris connaissance des
                                        conditions générales de prestations au dos du présent document, partie intégrante
                                        du présent contrat, et les accepter, notamment en ce qui concerne la clause de
                                        compétence territoriale. <br>
                                        Adr.V.M.: <br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width: 50%">
                        <div style="border: 1px solid black; padding-left: 1%;margin-top: 0">
                            <div style="background-color: lightgray;">
                                Facturé
                            </div>
                            <table>
                                <tr>
                                    <td style="text-align: left"><strong>Taux horaire Facturé (ht)</strong></td>
                                    <td style="text-align: right"><strong>{{ data.tauxHoraire }}</strong></td>
                                </tr>
                                {% for item in  data.tabPrimes %}
                                    <tr>
                                        <td><strong>{{ item.TxtPrime }}</strong></td>
                                        <td style="text-align: right">{{ item.TauxPayeImposable}} Eur/{{ item.JTC }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="2">Reglement:Virement 50 jrs date de réception</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Adr.V.M.:</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        <div style="border: 1px solid black;height: 100px; padding-left: 1%">
                            <table>
                                <tr>
                                    <td colspan="2">Fait à Pessac le {{ "now"|date("d/m/Y") }}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div style="border: 1px solid black;height: 100px; padding-left: 1%">
                            <table>
                                <tr>
                                    <td style="text-align: right">
                                        <span style="color: red">Contrat à retourner à l'ETT signé sous 48 H. </span><br>
                                        Signature et cachet du client THIERS le {{ "now"|date("d/m/Y") }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="footer" style="margin-top: 5%">
            "Des médecins de qualité, un service de proximité"
        </div>
    </div>
</body>
</html>
