<html>
<head>
    <link rel="icon" type="image/png" href="https://zupimages.net/up/19/49/yjf3.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style_annexe.scss">
    <style>
        #content{
            margin-bottom: 16%;
        }
        .annexe-bloc{
            margin-top: 7%;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div>
    <div id="header">
        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    {% if entreprise %}
                        <p>
                            <img class="center" width="100" src="https://media.licdn.com/dms/image/C4D1BAQG1VB5FV6HW_A/company-background_10000/0?e=2159024400&v=beta&t=atFQdj1a5WHJq407mfGZkl0xbHeLhDyAH4iCSvN1CHg" alt="logo RMS"><br>
                            <strong>{{entreprise.raisonSociale}}</strong><br>
                            {{entreprise.adresse}} <br>
                            {{entreprise.codePostal}} {{entreprise.ville}} <br>
                            {{entreprise.codeNaf}} Siret {{entreprise.siret}} <br>
                            N° Urssaf: {{entreprise.urssaf}} <br>
                        </p>
                    {% endif %}
                </td>
                <td style="width: 50%;text-align: right">
                    <p style="margin-left: 10%"> Contrat {{ contratPld.IdContrat }} <br>
                        {% if contratPld.NumeroAvenant != 0 %}
                            <br> <span>Avenant {{contratPld.NumeroAvenant}}</span>
                        {% endif %}
                        <br> Semaine {{ contratPld.semaine }} <br>
                    </p>
                    {% if typeAnnexe %}
                        <p><strong>{{typeAnnexe.libelle}}</strong></p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <!-- Maintenant on rempli le document -->
    <div id="content">
        <table border="1">
            <tr>
                <td class="width-50 text-center border-black p-1">
                    <strong>{{ client.RaisonSocial | upper }}</strong> <br>
                    {{ client.adresse | upper }} <br>
                    {{ client.cp | upper }} {{ client.ville | upper }}
                </td>
                <td class="width-50 bg-lightgray text-center p-1">
                    <strong>{{  interimaire.user.prenom | upper }} {{ interimaire.user.nom | upper }}</strong> <br>
                    {{ interimaire.user.adresse | upper }} <br>
                    {{ interimaire.user.cp | upper }} {{ interimaire.user.ville | upper }}
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><strong>N° Client</strong></td>
                            <td>{{ contratPld.IdClient }}</td>
                        </tr>
                        <tr>
                            <td><strong>Contact</strong></td>
                            <td>{{ contratPld.Interlocuteur }}</td>
                        </tr>
                        <tr>
                            <td><strong>Lieu Mission</strong></td>
                            <td>{{ client.adresse | upper }} {{client.cp | upper}} {{client.ville | upper}} <br> </td>
                        </tr>
                        <tr>
                            <td><strong>Moyen Acces</strong></td>
                            <td>{{ contratPld.MoyenAcces }}</td>
                        </tr>
                        <tr>
                            <td><strong>Téléphone</strong></td>
                            <td>{{ client.telephone }}</td>
                        </tr>
                        <tr>
                            <td><strong>Siret</strong></td>
                            <td>{{ client.siret }} <strong>   Naf</strong> {{ client.naf }}</td>
                        </tr>
                        <tr>
                            <td><strong>Effectif</strong></td>
                            <td>: {{ params.effectif }}</strong></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><strong>N° Matricule</strong></td>
                            <td>{{ contratPld.IdInterimaire }}</td>
                        </tr>
                        <tr>
                            <td><strong>Nationalité</strong></td>
                            <td>{{ interimaire.user.nationalite }}</td>
                        </tr>
                        <tr>
                            <td><strong>N° Séc. Soc</strong></td>
                            <td>{{ interimaire.user.numSecu }}</td>
                        </tr>
                        <tr>
                            <td><strong>Né(e) le </strong></td>
                            <td> {{ interimaire.user.datenaissance|date("d/m/Y") }} </td>
                        </tr>
                        <tr>
                            <td><strong>Qualification</strong></td>
                            <td>{{ contratPld.TxtQualification }} (cadre)           Pcs: {{ contratPld.PCS }}</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Titre Profession</strong></td>
                            <td>{{ params.titreprofession }}</td>
                        </tr>
                        <tr>
                            <td><strong>Téléphone</strong></td>
                            <td>{{ interimaire.user.telephone }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-50">
                    <table>
                        <tr>
                            <td colspan="2">
                                <strong>Motif</strong>
                                {{ contratPld.TxtRecours }}
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="width-50">
                    <table>
                        <tr>
                            <td><strong>Justificatif</strong></td>
                            <td>{{ contratPld.TxtJustificatif }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-50">
                    <table>
                        {% if txtConsignePoste|length > 0 %}
                            <tr>
                                <td colspan="2"><strong>Date(s)</strong> &nbsp;&nbsp; <strong>{{ dateDebut }}</strong> au <strong>{{ dateFin }}</strong> comme suit : </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><strong>Date(s)</strong></td>
                                <td>
                                    <strong>
                                        {{ dateDebut }} au {{ dateFin }}
                                    </strong>
                                </td>
                            </tr>
                        {% endif %}
                        {% if txtConsignePoste|length > 0 %}
                            <tr>
                                <td colspan="2">
                                    <ul >
                                        {% for item in txtConsignePoste %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            '<td colspan="2">{{ contratPld.TypeRecours == 2 ?  'A terme précis' : contratPld.TypeRecours == 1 ? 'Durée minimale' : ''}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Durée hebdo </strong> {{ contratPld.NbHeureHebdo }} Hrs
                                <strong>Période d'essai </strong> {{ contratPld.NbJoursEssai }} JT
                            </td>
                        </tr>
                        {% if contratPld.TxtConsignePoste|length <= 0 %}
                            <tr>
                                <td><strong>Horaires </strong></td>
                                <td>
                                    <strong>{{ contratPld.HoraireAMDebut}}{{ contratPld.HorairePMDebut}}-{{ contratPld.HoraireAMFin}}{{ contratPld.HorairePMFin}}</strong>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2">
                                {{ contratPld.Horaires }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Retraite: </strong> {{ params.retraite }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                * Le terme de la mission prévu dans le contrat initial ou dans l'avenant de
                                prolongation peut être aménagé dans les conditions prévues aux articles
                                L.1251-30 et L.1251-31
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="width-50">
                    <table>
                        <tr>
                            <td colspan="2"><strong>Caractéristiques du poste </strong> {{ contratPld.TxtCaracteristiquePoste }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Risques professionnels </strong>
                                {{ params.risquesProfessionnels }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Reférence de commande</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Salaire de référence</strong></td>
                            <td>{{ contratPld.SalaireReference}}</td>
                        </tr>
                        {% for item in contratPld.TabPrimes %}
                            {% if 'heures' in item.TxtPrime|lower  == false %}
                                <tr>
                                    <td style="text-align: left; width: 60%">
                                        {{ item.TxtPrime }}
                                    </td>
                                    <td style="text-align: right; width: 20%">{{ item.TauxReference | number_format(2, '.', ',')}} Eur</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="2">
                                Facteurs pénibilité:
                                {{ params.facteursPenibilite }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="width-50">
                    <table>
                        <tr>
                            <td colspan="2" class="bg-lightgray"><strong>Payé</strong></td>
                        </tr>
                        <tr>
                            <td class="width-50"><strong>Taux horaire payé (brut) </strong></td>
                            <td style="width: 50%;" class="text-right">Eur/H</td>
                        </tr>
                        {% for item in contratPld.TabPrimes %}
                            {% if 'heures' in item.TxtPrime|lower  == false %}
                                <tr>
                                    <td style="text-align: left; width: 60%">
                                        {{ item.TxtPrime }}
                                    </td>
                                    <td style="text-align: right; width: 20%">{{ item.TauxPayeImposable | number_format(2, '.', ',')}} Eur/jt</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="font-8">
                                - Ce montant correspond au salaire brut de base, sur lequel s’ajouteront les
                                indemnités de fin de mission (+10% du salaire brut de base) et indemnités de congés
                                payés (+10% du salaire brut total, y compris indemnités de fin de mission). Donc
                                vous percevrez au final le salaire net annoncé sur l'offre de mission. <br>
                                - Suite à l'entrée en vigueur du prélèvement à la source depuis le 1er janvier 2019,
                                nous vous précisons que la rémunération nette annoncée dans les offres s'entend NET
                                À PAYER AVANT IMPÔTS SUR LE REVENU. <br>
                                - Votre bulletin de salaire pour les rémunérations perçues à compter du 01/01/2019
                                fera apparaitre : <br>
                                ***le net à payer avant impôt sur le revenu <br>
                                ***la base, le taux et le montant prélevé au titre de l’impôt sur le revenu <br>
                                ***le net à payer qui vous sera versé. <br>
                                <strong class="font-9">{{ contratPld.TxtConsigneRemuneration }}</strong> <br>
                                Vous serez payé par virement entre le 08 et le 12 du mois suivant. <br>
                                Pensez à nous adresser vos justificatifs de déplacement avant le 05 du mois suivant. <br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Adr.V.M.:
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="width-50 font-8">
                    <table>
                        <tr>
                            <td>
                                - L'utilisateur prend en charge les frais d'accès aux installations collectives (Art. L.
                                1251-24)  <br>
                                - L'embauche à l'issue de la mission n'est pas interdite, sous réserve des interdictions
                                fixées aux articles L 1251-36 et L. 1244-3 du code du travail.  <br>
                                - Les information concernant: le motif, la durée, la rémunération et les
                                caractéristiques particulières du poste de travail sont données sous la responsabilité de
                                l'utilisateur, seul habilité à les justifier, sans qu'il y ait lieu de mise en demeure
                                préalable de l'ETT. <br>
                                - Le paiement des jours fériés e st dû au salarié temporaire indépendamment de
                                l'ancienneté de celui-ci dès lors que les salariés de l'utilisateur en bénéficient (Art. L.
                                1251-18). <br>
                                - L'utilisateur soussigné déclare avoir pris connaissance des conditions générales de
                                présentations figurant au verso, qui font partie intégrante du présent contrat,
                                notamment en ce qui concerne la clause attributive de compétence territoriale. - Le
                                médecin effectuant cette vacation est couvert par le contrat d'assurance responsabilité
                                civile de l'établissement où se déroule la mission. <br>
                                Adr.V.M.: <br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {#                <tr>#}
            {#                    <td class="width-50">#}
            {#                        <table>#}
            {#                            <tr>#}
            {#                                <td colspan="2">Fait à Pessac le {{ "now"|date("d/m/Y") }}</td>#}
            {#                            </tr>#}
            {#                        </table>#}
            {#                    </td>#}
            {#                    <td class="width-50">#}
            {#                        <table>#}
            {#                            <tr>#}
            {#                                <td >#}
            {#                                    <span class="text-danger">Contrat à conserver. </span><br>#}
            {#                                    Signature et cachet du client {{ client.ville }} le {{ "now"|date("d/m/Y") }}#}
            {#                                </td>#}
            {#                            </tr>#}
            {#                        </table>#}
            {#                    </td>#}
            {#                </tr>#}
        </table>
    </div>

    <!-- Maintenant on rempli le document -->
    <div class="annexe-bloc">
        <table>
            <tr >
                <td style="background-color: rgba(217,217,217,0.29); border: 2px solid #000;text-align: center">
                    <h5>
                        Conditions générales applicables au contrat de mission temporaire
                    </h5>
                </td>
            </tr>
            <tr>
                <td style="width: 100%;font-size: 7px; word-break: break-word">
                    {% if typeAnnexe and typeAnnexe.annexes|length > 0 %}
                        <table style="margin-top: 2%">
                            {% for key, item in typeAnnexe.annexes %}
                                {% set cpt = 0 %}
                                <tr>
                                    <td>
                                        <Strong><u>{{ key +1 }}. {{ item.titre | capitalize }}</u></Strong>
                                        {{ item.description | raw }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div id="footer" style="margin-top: 1%">
        "Des médecins de qualité, un service de proximité"
    </div>
</div>
</body>
</html>
