<tr>
    <td align="center" style="padding:20px 0 10px 0">
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
            <tbody>
            <tr>
                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour {{ recruteur }}</h3>
                    <p>
                        <b>RESEAU MEDICAL SERVICES</b> a le plaisir de vous annoncer la création de votre compte sur notre <a href="{{ url }}">site</a> :
                    </p>
                    {#                                                                    <p>#}
                    {#                                                                        Voici vos identifiants provisoires que vous pourrez modifier à tout moment.#}
                    {#                                                                    </p>#}
                    {#                                                                    <p>#}
                    {#                                                                        <b>Login: </b> {{ login }}#}
                    {#                                                                    </p>#}
                    {#                                                                    <p>#}
                    {#                                                                        <b> Mot de passe: </b>{{ password }}#}
                    {#                                                                    </p>#}

                    {{ include('emails/commun/button_profil_site.html.twig') }}

                    <p>
                        Votre compte vous permet de :
                    <ul>
                        <li>
                            Publier vos offres de missions sur notre site internet
                        </li>
                        <li>
                            Valider les candidatures des médecins
                        </li>
                        <li>
                            Gérer vos plannings
                        </li>
                        <li>
                            Suivre les contrats
                        </li>
                    </ul>

                    </p>

                    <p>
                        A bientôt pour de nouvelles expériences avec Réseau Médical Services
                    </p>
                    <p>

                        Cordialement.
                    </p>
                    <br>
                    <p style="font-size: xx-small">
                        Nous vous invitons à conserver précieusement ces paramètres de connexion,ils vous seront demandés à chaque identification.
                        logo Avertissement: Cet e-mail a été envoyé par un robot.Merci de ne pas y répondre en utilisant l´adresse d´expédition	pour votre correspondance : tout mail envoyé à cette adresse sera automatiquement supprimé et restera sans réponse.
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>