<tr>
    <td align="center" style="padding:20px 0 10px 0">
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
            <tbody>
            <tr>
                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour</h3>
                    <p>
                        Votre établissement nous sollicite pour des missions de remplacements et nous vous remercions pour cette confiance.
                    </p>
                    <p>
                        Afin de mieux choisir le profil des intérimaires que nous vous proposons, nous vous saurions gré de nous adresser la fiche de profil de poste du service demandeur.

                    </p>


                    <p>
                        A défaut, nous apporter des précisions  le(s) service(s) :
                    </p>
                    {% for item in arrayValues %}

                        <b> {{ item }} ,</b>
                    {% endfor %}
                    <ul>
                        <li>
                            nombre de passages par an
                        </li>

                        <li>
                            nombre de médecins de jour
                        </li>
                        <li>
                            nombre de médecins de nuit
                        </li>

                        <li>
                            nombre de lit
                        </li>
                        <li>
                            Environnement Technique
                        </li>
                        <li>
                            information pratique
                        </li>
                        <li>
                            nom et numéro de téléphone du médecin chef de service
                        </li>
                    </ul>




                    <p>
                        Dans l'attente de vous lire, nous vous prions de recevoir nos salutations distinguées.
                    </p>
                    <p>

                        Cordialement.
                    </p>


                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
