<html>
{{ include('emails/commun/header.html.twig') }}
<body>
<div style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;width:100%!important">
    <table align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
        <tbody>
        <tr>
            <td align="center">
                <center style="width:100%">
                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif" width="512">
                        <tbody>
                        {{ include('emails/commun/logo.html.twig') }}
                        <tr>
                            <td align="left">
                                <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                    <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                <tbody>

                                                <tr>
                                                    <td align="center" style="padding:20px 0 10px 0">
                                                        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                                                                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>
                                                                    <p>
                                                                        Site:<b>{{ client }}</b>
                                                                    </p>
                                                                    <p>
                                                                        Nous vous prions de trouver ci-joint votre planning à jour avec les changements apportés.
                                                                    </p>


                                                                    {% if update_vacation_tarif|length > 0 %}
                                                                        <p><b>Mis a jour tarif</b></p>
                                                                    <p>
                                                                    <table cellspacing="0" cellpadding="15" width="100%" id="customers">
                                                                        <tr >

                                                                            <th>Date </th>
                                                                            <th>Ancien Tarif</th>
                                                                            <th>Nouveau Tarif</th>
                                                                            <th>Statut</th>

                                                                        </tr>
                                                                        {% for  item in  update_vacation_tarif %}

                                                                            <tr>
                                                                                <td>{{ item['date'] |date("d-m-Y") }}</td>
                                                                                <td>{{ item['ancien_tarif'] }}</td>
                                                                                <td>{{ item['nouveau_tarif'] }}</td>
                                                                                <td>{{ item['statut'] }}</td>

                                                                            </tr>

                                                                        {% endfor %}
                                                                    </table>
                                                                    </p>
                                                                    {% endif %}



                                                                    {% if delete_date|length > 0 %}
                                                                        <p><b>suppression d'une date</b></p>
                                                                    <p>
                                                                    <table cellspacing="0" cellpadding="15" width="100%" id="customers">
                                                                        <tr >

                                                                            <th>Date </th>
                                                                            <th>Statut</th>

                                                                        </tr>
                                                                        {% for  item in delete_date %}

                                                                            <tr>
                                                                                <td>{{ item['date'] |date("d-m-Y") }}</td>
                                                                                <td>{{ item['statut'] }}</td>

                                                                            </tr>

                                                                        {% endfor %}
                                                                    </table>
                                                                    </p>
                                                                    {% endif %}


                                                                    {% if new_vacation|length > 0 %}
                                                                        <p><b>Ajout Vacation</b></p>
                                                                    <p>
                                                                    <table cellspacing="0" cellpadding="15" width="100%" id="customers">
                                                                        <tr >

                                                                            <th>Date </th>
                                                                            <th>Type De garde </th>
                                                                            <th>Tarif</th>
                                                                            <th>Statut</th>

                                                                        </tr>
                                                                        {% for  item in new_vacation %}

                                                                            <tr>
                                                                                <td>{{ item.date |date("d-m-Y") }}</td>
                                                                                <td>{{ item.typeDeGarde.typeVacation.designation }}</td>
                                                                                <td>{{ item.tarif }}</td>
                                                                                <td>{{ item.statut }}</td>

                                                                            </tr>

                                                                        {% endfor %}
                                                                    </table>
                                                                    </p>
                                                                    {% endif %}

                                                                    {{ include('emails/commun/button_profil_site.html.twig') }}

                                                                    <p>
                                                                        Nous prendrons contact avec vous ultérieurement pour vérifier la conformité.
                                                                    </p>

                                                                    <p>
                                                                        Ci-après la légende pour une bonne lecture:
                                                                    <p>
                                                                        <p>
                                                                        <ul>
                                                                        <li>
                                                                            <b>A pourvoir</b>   → plage vacante
                                                                        </li>
                                                                        <li>
                                                                            <b>A Validée</b>   → plage pourvue et validée par vos soins
                                                                        </li>
                                                                        <li>
                                                                            <b>Annulée</b>   →  plage que vous avez annulée
                                                                        </li>

                                                                        <li>
                                                                            <b>  En attente</b>   → plage pour laquelle une candidature est proposée et pas encore validée par vos soins
                                                                        </li>
                                                                    </ul>



                                                                    </p>
                                                                    <p>En restant à votre disposition pour toute information.
                                                                    </p>

                                                                    <p>
                                                                        Cordialement.
                                                                    </p>


                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {{ include('emails/commun/footer.html.twig') }}

                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>