<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour </h3>
        <p>
            <b>RESEAU MEDICAL SERVICES</b> vous remercie pour la confiance accordée et vous confirme la réception de votre demande: DEMANDE DE DEVIS pour la Mission au Service <b>{{ title }}</b>
        </p>


        <p>
            Nous vous enverrons une proposition commerciale dans les meilleurs délais.
        </p>

        <p>
            Cordialement.
        </p>
        <br>

    </td>
</tr>