<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour </h3>
        <p>
            Nous avons le plaisir de vous proposer la candidature du <b>Dr {{ nom }} {{ prenom }}</b> pour la mission {{ reference }}.
        </p>


        <p>
            Allez dans votre espace <a href="{{ url }}">HopRMS</a> pour visualiser les détails de la candidature et la valider.

        </p>
        {{ include('emails/commun/button_profil_site.html.twig') }}

        <p>
            {{ recomendation }}
        </p>

        <p>
            Dans l’attente de votre retour, nous vous prions de recevoir nos salutations distinguées.
        </p>

        <p>
            Cordialement.
        </p>
        <br>

    </td>
</tr>