<tr>
    <td align="center" style="padding:20px 0 10px 0">
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
            <tbody>
            <tr>
                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>
                    <p>
                        suite candidature
                    </p>

                    {% if content |length > 0 %}
                        <p>Mis a jour candidature</p>
                        <div>
                        <table cellspacing="0" cellpadding="15" width="100%" id="customers">
                            <tr >

                                <th>Date </th>
                                <th>Vacation </th>
                                <th>Ancien Statut</th>
                                <th>Nouveau Statut</th>


                            </tr>
                            {% for  item in  content %}

                                <tr>
                                    <td>{{ item.date |date("d-m-Y") }}</td>
                                    <td>{{ item.designation}}</td>
                                    <td>{{ item.statutCandidature}}</td>
                                    <td>{{ item.statusChoisi }}</td>


                                </tr>

                            {% endfor %}
                        </table>
                        </div>
                    {% endif %}



                    {#                                                                    <p>#}
                    {#                                                                        <b>Condition Interimaire</b>#}
                    {#                                                                    </p>#}
                    {#                                                                    <p>#}
                    {#                                                                        {{ content.condition_med }}#}
                    {#                                                                    </p>#}


                    {{ include('emails/commun/button_profil_site.html.twig') }}

                    <p>
                        {{ condition_med | raw }}
                    </p>

{#                    <p>#}
{#                        Nous vous informerons de la suite dans les meilleurs délais.#}
{#                    </p>#}

                    <p>
                        Cordialement.
                    </p>


                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
Symfony\Component\HttpFoundation\
