<tr>
    <td align="center" style="padding:20px 0 10px 0">
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
            <tbody>
            <tr>
                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>
                    <p>
                        <b>Une tâche </b> vous a été assignée sur la ligne <b>{{ ligne }}</b> dans votre espace de travail RMS/ERP
                    </p>


                    {{ include('@RMSApi/Mail/commun/button_profil_interne.html.twig') }}



                    <p>

                        Cordialement.
                    </p>

                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>