<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour  {{ name |upper }}</h3>
        <p>
            Nous avons le plaisir de recevoir votre disponibilité pour notre offre de mission ci-après.
        </p>



        <table cellspacing="0" cellpadding="15" width="100%" id="customers" border="0">
            <tr >
                <th>Date </th>
                <th>Garde</th>
                <th>salaire</th>
                <th>Heure Début</th>
                <th>heure Fin</th>
                <th>Qualification</th>

            </tr>
            {% for planning in arrayValues %}

                <tr>
                    <td > {{(planning.date |date("d-m-Y")) }} </td>
                    <td>{{(planning.typeDeGarde.typeVacation.designation)}}</td>
                    <td>{{(planning.salaireNet)}}</td>
                    <td>{{(planning.typeDeGarde.heureDebut |date("H:i") )}}</td>
                    <td>{{(planning.typeDeGarde.heureFin |date("H:i") )}}</td>
                    {% if planning.qualifications |length > 0 %}
                        {% for item in planning.qualifications %}
                        <td>{{(item)}}</td>
                        {% endfor %}
                    {% endif %}
                    {#<td style="font-size: 14px;">En attente</td>#}
                </tr>

            {% endfor %}
        </table>


        <p>
            Nous vous informerons de la suite dans les meilleurs délais.
        </p>

        <p>
            Cordialement.
        </p>


    </td>
</tr>
