<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour  {{ name |upper }}</h3>
        <p>
            <b>RESEAU MEDICAL SERVICES</b> vous remercie pour la confiance, vos disponibilités sont bien prises en compte.
        </p>




        <p>
            Nous vous ferons parvenir des offres de remplacement en adéquation avec votre planning.
        </p>


        <p>
            Cordialement.
        </p>


    </td>
</tr>