<table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
    <tbody>

    <tr>
        <td align="center" style="padding:20px 0 10px 0">
            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ docteur  | upper  }}</h3>
                        <p>
                            Nous vous saurions gré de nous adresser les éléments suivants, pour la constitution de votre dossier :
                        </p>

                        <ul>
                            {% for item in data %}
                            <li>
                               <b> {{ item }}</b>
                            </li>

                            {% endfor %}

                        </ul>


                        {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}

                        <p>
                            Les documents peuvent être envoyés par :
                        </p>
                            <ul style="list-style: decimal">
                             <li>
                                  Mail à l'adresse mission@reseaumedical.fr
                             </li>
                            <li>
                                Fax au 05 35 54 13 46
                            </li>
                            <li>
                                 Courrier au 3 Avenue Paul Langevin-33600 Pessac.

                            </li>
                        </ul>


                        <p> Dans l'attente de vous lire et vous remerciant par avance.</p>

                        <p>
                            Cordialement.
                        </p>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>