
                                                            <tr>
                                                                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                                                                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour  Dr {{ docteur  | upper  }}</h3>
                                                                   <p>
                                                                       <b>RESEAU MEDICAL SERVICES</b> a le plaisir de vous annoncer la création de votre compte sur  <a href="{{ url }}">MyRMS</a>  comme convenu:
                                                                   </p>
                                                                    <p>
                                                                        Voici vos identifiants provisoires que vous pourrez modifier à tout moment.
                                                                    </p>
                                                                    <p>
                                                                        <b>Login: </b> {{ login }}
                                                                    </p>
                                                                    <p>
                                                                        <b> Mot de passe: </b>{{ password }}


                                                                        {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}
                                                                    <p>

                                                                        Cordialement.
                                                                    </p>
                                                                    <br>
                                                                  <p style="font-size: xx-small">
                                                                      Nous vous invitons à conserver précieusement ces paramètres de connexion,ils vous seront demandés à chaque identification.
                                                                      Cet e-mail a été envoyé par un robot.Merci de ne pas y répondre en utilisant l´adresse d´expédition	pour votre correspondance : tout mail envoyé à cette adresse sera automatiquement supprimé et restera sans réponse.
                                                                  </p>
                                                                </td>
                                                            </tr>
