<tr>
    <td align="center" style="padding:20px 0 10px 0">
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
            <tbody>
            <tr>
                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ docteur | upper   }}</h3>
                    <p>
                        <b>RESEAU MEDICAL SERVICES</b> vous remercie pour la confiance accordée et vous confirme la réception de votre dossier. Après étude et validation,
                        vous pourrez postuler à toutes les offres de remplacement publiées sur notre <a href="{{ url }}">site</a> .
                    </p>
                    {#                                                                    <p>#}
                    {#                                                                        Liste des éléments :#}
                    {#                                                                    </p>#}

                    {#                                                                        {% for item in items %}#}
                    {#                                                                        <li>#}
                    {#                                                                            {{ item }}#}
                    {#                                                                        </li>#}
                    {#                                                                        {% endfor %}#}
                    {#                                                                    </ul>#}

                    {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}

                    <p>
                        Nous vous invitons à mettre à jour votre compte en cas de changement d’adresse et/ou d’expiration de document officiel.
                    </p>


                    <p>
                        Cordialement.
                    </p>


                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>