
                                                            <tr>
                                                                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                                                                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour {{ name | upper  }}</h3>
                                                                    <p>
                                                                        Vous venez de mettre à jour votre profil en ajoutant la specialité <b>{{ title }}</b> suivi de(s) qualification(s) ci-dessous  dans votre profil.

                                                                    </p>
                                                                    <p>
                                                                    <p>
                                                                        <b>Qualification(s)</b>
                                                                    </p>
                                                                    <ul>
                                                                        {% for item in arrayValues %}
                                                                        <li>
                                                                            {{ item }}
                                                                        </li>
                                                                        {% endfor %}
                                                                    </ul>









                                                                </td>
                                                            </tr>
