<table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
    <tbody>

    <tr>
        <td align="center" style="padding:20px 0 10px 0">
            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ docteur  | upper  }}</h3>
                        <p>
                            Vous venez de terminer votre mission en référence <b>{{ mission }}</b>, nous espérons qu’elle s’est bien déroulée.
                        </p>
                        <p>
                            Si vous avez vos justificatifs de déplacement, vous pouvez nous les transmettre dès maintenant.                                                                    </p>

                        <p>
                            Pour rappel, il est possible de faire depuis votre espace personnel sur notre site.
                        </p>

                        {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}

                        <p>
                            Cordialement.
                        </p>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>