<htm>
    <header>
        <body>
        <div class="">
            <div class="aHl"></div>
            <div id=":1al" tabindex="-1"></div>
            <div id=":1aa" class="ii gt">
                <div id=":1a9" class="a3s aXjCH msg-9000118655016457873"><u></u>


                    <div style="padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;font-family:Arial,Verdana,sans-serif;font-size:14px;background:#eeeeee" bgcolor="#eeeeee">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
                            <tbody>
                            <tr>


                                <td bgcolor="#F3F3F3" width="100%" style="background-color:#f3f3f3;padding:12px;border-bottom:1px solid #ececec">
                                    <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;width:100%!important;font-family:Helvetica,Arial,sans-serif;min-width:100%!important" width="100%">
                                        <tbody>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <td>

                                <table border="0" bgcolor="#eeeeee" cellpadding="0" cellspacing="0" align="center" width="100%" style="font-family:Arial,Helvetica,sans-serif;max-width:768px">
                                    <tbody>
                                    <tr>
                                        <td height="10" colspan="5">&nbsp;</td>
                                    </tr>
                                    <tr>

                                        <td bgcolor="#FFFFFF" style="border-left:1px solid #cccccc;border-top:1px solid #cccccc">&nbsp;</td>

                                        <td bgcolor="#FFFFFF" colspan="3" align="center" valign="top" style="color:#666666;font-size:13px;border-top:1px solid #cccccc;font-family:Arial,Verdana,sans-serif">
                                            <p style="font-family:Arial,Verdana,sans-serif;margin-top:10px;margin-bottom:10px;font-size:20px"> <img src="https://zupimages.net/up/19/49/285p.jpg" style="width: 300px; height: 300px"> </p></td>




                                        <td bgcolor="#FFFFFF" style="border-right:1px solid #cccccc;border-top:1px solid #cccccc">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td bgcolor="#FFFFFF" style="border-left:1px solid #cccccc;border-top:0px solid #ffffff;border-right:0px solid #ffffff;border-bottom:0px solid #ffffff" width="20">&nbsp;</td>
                                        <td bgcolor="#FFFFFF" colspan="4" class="m_-9000118655016457873bg-rows">


                                            <p style="font-family:Arial,Verdana,sans-serif;margin-top:10px;margin-bottom:10px;font-size:30px"> Bonjour Dr {{ nom }}
                                                 </p>

                                            <p style="font-family:Arial,Verdana,sans-serif;font-size:14px;margin-top:10px;margin-bottom:10px">
                                                Retrouvez nos dernières offres  </p>

                                            <p style="font-family:Arial,Verdana,sans-serif;font-size:14px;margin-top:10px;margin-bottom:10px">  </p>
                                        </td></tr>
                                    <tr>
                                        <td bgcolor="#FFFFFF" height="20" colspan="5" style="border-right:1px solid #cccccc;border-left:1px solid #cccccc">&nbsp;</td>
                                    </tr>



                                    <tr>
                                        <td bgcolor="#FFFFFF" style="border-left:1px solid #cccccc;border-top:0px solid #ffffff;border-right:0px solid #ffffff;border-bottom:0px solid #ffffff" width="20">&nbsp;</td>
                                        <td bgcolor="#FFFFFF" colspan="3" class="m_-9000118655016457873bg-rows">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                   style="font-family:Arial,Helvetica,sans-serif;padding:5px 10px 0px 10px;margin-bottom:10px; border-collapse:separate; border-spacing:0 15px; margin-top:-15px;">                                                <tbody>

                                                {% for  item in missions %}
                                                    <tr  bgcolor="#eeeeee">

                                                        <td width="80%" valign="top" >
                                                            <p style="font-family:Arial,Verdana,sans-serif;font-size:14px;margin:0px 10px 0px 10px">
                                                                <a href="{{ url }}" style="color:#09a0db;font-family:Arial,Verdana,sans-serif;font-size:18px;text-decoration:none;display:block;margin-bottom:10px" target="_blank">
                                                                    {{ item.nomSpecialite }} {{ item.mois }} {{ item.annee }} (F/H)


                                                                </a>
                                                                <span style="color:#666666">{{ item.departement }}</span>

                                                            </p>
{#                                                            <p style="color:#999999;margin:5px 10px 5px 10px;font-family:Arial,Verdana,sans-serif;font-size:13px">18/07/2019</p>#}
                                                        </td>
                                                        <td width="10%" valign="middle" >
                                                            <table border="0" valign="top" cellpadding="0" cellspacing="0" align="center" style="background:#ffffff;border-radius:4px;color:#09a0db;border:1px solid #09a0db;font-size:14px;letter-spacing:1px;padding:10px 25px">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <a href="{{ url }}{{ item.reference }}" style="color:#09a0db;font-family:Arial,Verdana,sans-serif;text-decoration:none;font-size:16px" target="_blank" data-saferedirecturl="{{ url }}{{ item.reference }}">
                                                                            voir les dates</a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody></table></td>
                                        <td bgcolor="#FFFFFF" style="border-left:0px solid #ffffff;border-top:0px solid #ffffff;border-right:1px solid #cccccc;border-bottom:0px solid #ffffff" width="20">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td bgcolor="#FFFFFF" height="30" colspan="5" style="border-right:1px solid #cccccc;border-left:1px solid #cccccc">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#FFFFFF" style="border-left:1px solid #cccccc" width="20">&nbsp;</td>
                                        <td bgcolor="#FFFFFF" colspan="3"><table border="0" cellpadding="0" cellspacing="0" align="center" style="background:#ffffff;border-radius:4px;color:#cccccc;border:1px solid #dddddd;font-size:14px;letter-spacing:1px;padding:4px 35px 4px 35px">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="center" height="36">
                                                        <a href="{{ url }}" target="_blank" data-saferedirecturl="{{ url }}">Voir toutes les offres</a></td>
                                                </tr>
                                                </tbody>
                                            </table></td>
                                        <td bgcolor="#FFFFFF" style="border-right:1px solid #cccccc" width="20">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#FFFFFF" colspan="5" height="30" style="border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td  colspan="5" style="text-align:center;padding-top:20px">



                                            <a href="https://zupimages.net/viewer.php?id=19/49/pikw.jpg"><img src="https://zupimages.net/up/19/49/pikw.jpg" alt="" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20" colspan="5">&nbsp;</td>
                                    </tr>
                                    </tbody>

                                </table>

                            </td>
                            </tr>
                            <tr>
                                <td>

                                    <table border="0" bgcolor="#eeeeee" cellpadding="0" cellspacing="0" align="center" width="100%" style="font-family:Arial,Helvetica,sans-serif;max-width:768px">
                                        <tbody>
                                        <tr>
                                            <td align="center"><p style="color:#000000;font-family:Arial,Verdana,sans-serif;font-size:20px;margin:10px 0px 10px 0px"><b>Astuce:</b> Avoir un CV à jour augmente vos chances d’être recruté de 27%</p></td>
                                        </tr>

                                        <tr>
                                            <td height="30">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>



                            </tbody></table>






        </body>
    </header>
</htm>

