<div>


    <table  cellpadding="10" width="100%" id="customers">

        <thead>
        <tr>
            <th scope="col" colspan="3" class="text-center" style="border: none;">
                Bonjour Docteur {{ nom }}
                <p> Réseau Médical Service a le plaisir de vous proposer les remplacements ci-après: </p>
            </th>
        </tr>
        </thead>
        {% for reference in references %}
            <tr style="border: none;background-color: rgb(71, 186, 199); color: white">

                <th>({{ departement[reference]["dept"] }})</th>
                <th>Vacation(date de planning)</th>
                <th>Salaire Net</th>
                <th>Action</th>

            </tr>
            <tr style="text-align: justify-all;margin: auto">
                <td>
                    {{ departement[reference]["nomspecialite"] }}-{{ departement[reference]["mois"] }}
                    -{{ departement[reference]["annee"] }}
                </td>

                <td>

                    {% for key1, m in missions[reference] %}


                        {% for key2, salaire in m %}




                            <b>{{ key1 }}</b>
                            (
                            {% for  p in salaire %}

                                {{ p | date("d") }}
                                {% if loop.last == false %}
                                    ,
                                {% endif %}

                            {% endfor %}
                            )




                            <br>
                        {% endfor %}



                    {% endfor %}

                </td>

                <td>
                    {% for key1, m in missions[reference] %}


                        {% for key2, salaire in m %}

                            {{ key2 }} €

                            <br>
                        {% endfor %}



                    {% endfor %}
                </td>
             <td>
                 <a href="{{ url }}/offres/{{ reference }}"

                    style="background-color: #3A96A1;
                                            border-radius: 5px;
                                            border: none;
                                            color: white;
                                            padding: 8px 8px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 12px;
                                            cursor: pointer;"
                 > VOIR PLUS </a>
             </td>
            </tr>
        {% endfor %}
    </table>
    <div style="padding: 0 15px;text-align: justify;font-size: 12px; text-decoration: none;">
        <p>
            <b>Conditions :</b>
        </p>
        <ul>
            <li>
                Hébergement : Assuré par le centre hospitalier
            </li>
            <li>
                Repas: Assuré par le centre hospitalier
            </li>
            <li>
                Déplacement: Remboursés sur présentation de justificatifs
            </li>
            <li>
                Train :billet 2ème classe
            </li>
            <li>
                Avion: si billet moins cher que train ou voiture
            </li>
            <li>
                Voiture: option trajet le plus court sur <a href="https://www.viamichelin.fr/">viamichelin</a>
            </li>

        </ul>
        <p>
            <b>Pour nous contacter :</b>
        </p>
        <ul>
            <li>
                Par mail : {{ email_ligne["email"] }}
            </li>
            <li>
                Par téléphone: {{ email_ligne["telephone"] }}
            </li>

        </ul>
        <p>
            A défaut d’être disponible, nous vous saurions gré de nous faire suivre à vos confrères.
        </p>

        <p>
            <b>PS :</b> le montant qui sera mentionné sur les contrats correspond au salaire brut de base, sur lequel
            s’ajouteront les indemnités de fin de mission (+10% du salaire brut de base) et indemnités de congés payés
            (+10% du salaire brut total, y compris indemnités de fin de mission). Donc vous percevrez au final le
            salaire net annoncé sur l'offre de mission.
            Suite à l'entrée en vigueur du prélèvement à la source depuis le <b>1er janvier 2019</b>, nous vous
            précisons que la rémunération nette annoncée dans les offres s'entend NET À PAYER AVANT IMPÔTS SUR LE
            REVENU.
            Votre bulletin de salaire pour les rémunérations perçues à compter du <b>01/01/2019</b> fera apparaître :
        <ul>
            <li>
                le net à payer avant impôt sur le revenu.
            </li>
            <li>
                la base.
            </li>
            <li>
                le taux et le montant prélevé au titre de l’impôt sur le revenu.
        </ul>

        </p>

    </div
</div>