<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr <b>{{ nom  | upper }}</b> </h3>
        <p>
            Réseau Médical Services a développé une plateforme, <a href="{{ url }}">MyRMS</a>, permettant d’optimiser la gestion de vos remplacements.

        </p>
        <p>
            Nous avons le plaisir de vous communiquer ci-après vos identifiants de connexion.
        </p>

        <p>
            Nom utilisateur: <b>{{ username }}</b>
        </p>

        <p>
            Mot de passe:  <b>{{ password }}</b>
        </p>

        {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}

        <p>
            A bientôt pour de nouvelles expériences avec le  <b>RESEAU MEDICAL SERVICES</b>.
        </p>


        <p>
            Cordialement.
        </p>


    </td>
</tr>