<table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
    <tbody>

    <tr>
        <td align="center" style="padding:20px 0 10px 0">
            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ docteur  | upper  }}</h3>
                        <p>
                            Nous vous confirmons les termes et les conditions de mise en œuvre de votre mission en référence <b>{{ mission.reference }}</b>
                        </p>

                        <ul>
                            <li>
                                <b>LIEU</b> : {{ mission.ficheSpecialite.client.adresse }}
                            </li>
                            <li>
                               <b>SERVICES</b> : {{ specialite }}
                            </li>

                            {% if missionMed.hebergement is defined and missionMed.hebergement != null %}
                            <li><b>Hébergement :</b>  </li>
                            <ul style="list-style: none">
                                <li style="margin: 0 0 3px 0">
                                    Lieu : {{ missionMed.hebergement.lieu }}  {{ missionMed.hebergement.nombreEtoile }} *

                                </li>
                                <li style="margin: 0 0 3px 0">
                                    Adresse :  {{ missionMed.hebergement.adresse }}
                                </li>
                                <li style="margin: 0 0 3px 0">
                                    Telephone : {{ missionMed.hebergement.telephone }}
                                </li>
                            </ul>
                            {% endif %}


{#                           <li>Etat du contrat</li>#}

                        </ul>

                        <table cellspacing="0" cellpadding="15" width="100%" id="customers">
                            <tr >

                                <th>Date </th>
                                <th>Type De garde </th>


                            </tr>
                            {% for  item in dateVacations %}

                                <tr>
                                    <td>{{ item.date |date("d-m-Y") }}</td>
                                    <td>{{ item.vacation }}</td>
                                </tr>

                            {% endfor %}
                        </table>

                        {% if commentaire is defined %}
                        <p>
                            {{ commentaire }}
                        </p>
                        {% endif %}

                        <p>
                            Nous vous renouvelons notre engagement à vous procurer un cadre idéal de travail dans les meilleurs accords.
                        </p>
                        <p>
                            <b>RESEAU MEDICAL SERVICES</b> vous remercie  pour votre confiance et de la collaboration.
                        </p>



                        {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}

                        <p>
                            Cordialement.
                        </p>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>