<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h5 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ content[0].nom  | upper }}  {{ content[0].prenom  | upper }}</h5>
        <p>
            Votre  candidature   pour la mission <b> {{ reference  | upper }} </b>  a été traitée.
        </p>

        {% if content |length > 0 %}

            <p>
            <table cellspacing="0" cellpadding="15" width="100%" id="customers" border="0">
                <tr >

                    <th>Date </th>
                    <th>Vacation </th>
                    <th>Statut</th>



                </tr>
                {% for  item in  content %}

                    <tr>

                        <td>{{ item.date |date("d-m-Y") }}</td>
                        <td>{{ item.designation}}</td>
                        <td>{{ item.statusChoisi }}</td>


                    </tr>

                {% endfor %}
            </table>
            </p>
        {% endif %}


        {#                                                                    <p>#}
        {#                                                                        <b>Condition Interimaire</b>#}
        {#                                                                    </p>#}
        {#                                                                    <p>#}
        {#                                                                        {{ content.condition_med }}#}
        {#                                                                    </p>#}


        {{ include('@RMSApi/Mail/commun/button_profil_site.html.twig') }}


{#        <p>#}
{#            Nous vous informerons de la suite dans les meilleurs délais.#}
{#        </p>#}

        <p>
            Cordialement.
        </p>


    </td>
</tr>