<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour  {{ name  | upper }}</h3>
        <p>
            Nous avons le plaisir de vous annoncer la validation de votre dossier pour effectuer des remplacements avec le <b>RESEAU MEDICAL SERVICES</b>.

        </p>
        <p>
            Désormais, vous pourrez choisir et suivre vos missions dans votre espace <a href="{{ url }}">MyRMS</a>  à tout moment.
        </p>



        <p>
            A bientôt pour de nouvelles expériences avec le  <b>RESEAU MEDICAL SERVICES</b>.
        </p>


        <p>
            Cordialement.
        </p>


    </td>
</tr>