<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slicknav.css">
        {% endblock %}
    </head>
    <body>
        <!-- header-start -->
            <header>
                <div class="header-area ">
                    <div id="sticky-header" class="main-header-area">
                        <div class="container-fluid ">
                            <div class="header_bottom_border">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 col-lg-2">
                                        <div class="logo">
                                            <a routerLink="/" (click)="refreshJavascript()">
                                                <img src="../../../assets/site/img/logo.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-4 col-lg-5">
                                        
                                    </div>
                                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                                        <div class="main-menu  d-none d-lg-block">
                                            <nav>
                                                <ul id="navigation">
                                                    <li><a routerLink="/offres">Offres</a></li>
                                                    <li><a routerLink="/blogs">Blogs</a></li>
                                                    <li><a routerLink="/connexion"><i class="fa fa-user" style="font-size: 20px;"></i> Connexion</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mobile_menu d-block d-lg-none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- header-end -->
        {% block body %}{% endblock %}

        <!-- footer start -->
            <footer class="footer">
                <div class="footer_top text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-lg-12">
                                <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                    <p>
                                        <i class="fa fa-envelope"></i> contact@reseaumedical.fr <br>
                                        <i class="fa fa-phone"></i> 05 57 88 25 75 <br>
                                        <i class="fa fa-fax"></i> 05 35 54 13 46 <br>
                                        <i class="fa fa-map-marker"></i> 
                                        ENORA PARC 3 avenue
                                        PAUL LANGEVIN, 33600
                                        PESSAC
                                    </p>
                                    <div class="socail_links">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
                    <div class="container">
                        <div class="footer_border"></div>
                        <div class="row">
                            <div class="col-xl-12">
                                <p class="copy_right text-center">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy; Mentions légales Conditions Générales RGPD
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        <!--/ footer end  -->

        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
