<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- header-start -->
            <header>
                <div class="header-area ">
                    <div id="sticky-header" class="main-header-area">
                        <div class="container-fluid ">
                            <div class="header_bottom_border">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 col-lg-2">
                                        <div class="logo">
                                            <a routerLink="/" (click)="refreshJavascript()">
                                                <img src="../../../assets/site/img/logo.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-4 col-lg-5">
                                        
                                    </div>
                                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                                        <div class="main-menu  d-none d-lg-block">
                                            <nav>
                                                <ul id="navigation">
                                                    <li><a routerLink="/offres">Offres</a></li>
                                                    <li><a routerLink="/blogs">Blogs</a></li>
                                                    <li><a routerLink="/connexion"><i class="fa fa-user" style="font-size: 20px;"></i> Connexion</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mobile_menu d-block d-lg-none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- header-end -->
        {% block body %}{% endblock %}

        
        {% block javascripts %}{% endblock %}
    </body>
</html>
