<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour</h3>

        <p>
            l'interimaire {{ nom  }} solicite un versement  d'acompte  sur son salaire :
        </p>

            <ul>
            <li>
                <b>Montant :</b>{{ montant }}
            </li>
            <li>
{#                <b>Mission :</b>{{ mission }}#}
            </li>
            <li>
                <b>Contrat :</b>{{ contrat }}
            </li>
        </ul>

        <p>

            {{ remarque | raw }}
        </p>








    </td>
</tr>