<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour</h3>

        <p>
            l'interimaire {{ nom  }} vient de mettre a jour son profil en ajoutant <b>{{ specialite }} </b> dans ses compétences.

        </p>






    </td>
</tr>