<html>
{{ include('@RMSApi/Mail/commun/header.html.twig') }}
<body>
<div style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;width:100%!important">
    <table align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
        <tbody>
        <tr>
            <td align="center">
                <center style="width:100%">
                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif" width="512">
                        <tbody>
                        {{ include('@RMSApi/Mail/commun/logo.html.twig') }}
                        <tr>
                            <td align="left">
                                <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                    <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                <tbody>

                                                <tr>
                                                    <td align="center" style="padding:20px 0 10px 0">
                                                        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                                                                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>
                                                                    <p>
                                                                        Le <b>Dr {{ docteur }}</b> vient de mettre à jour ses justificatifs pour la mission <b>{{ mission }}.</b>

                                                                    </p>

                                                                    <p>
                                                                    <div style="font-family: Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif, serif, EmojiFont; margin-bottom: 20px; padding-right: 30px; padding-left: 30px;">
                                                                        <table style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;width:100%;border-collapse:collapse;">
                                                                            <tbody>
                                                                            <tr style="width:100%; text-align: center">
                                                                                <td style="font-size:17px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;vertical-align:top;width:100%;line-height:24px;">
                                                                                    <span style="background-color: rgb(0, 121, 60) !important; display: inline-block; border-radius: 4px;" data-ogsb="rgb(46, 166, 100)">
                                                                                        <a href="{{ url }}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color: white; font-size: 18px; font-weight: 900; text-align: center; background-color: rgb(46,166,100) !important; display: inline-block; text-decoration: none; border-radius: 4px; border-width: 13px 24px; border-style: solid; border-color: rgb(46, 166, 100); word-break: break-word; line-height: 18px; min-width: 196px;" data-ogsb="rgb(46, 166, 100)">
                                                                                    Voir Justificatif</a>
                                                                                    </span></td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </div>
                                                                    </p>



                                                                    <p>
                                                                        Cordialement.
                                                                    </p>


                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>
                                                <tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {{ include('@RMSApi/Mail/commun/footer.html.twig') }}

                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>