<tr>
    <td align="center" width="100%"
        style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;">
            Bonjour Dr {{ nom |upper}}</h3>


        <p>
            Nous vous informons que nous avons bien reçu votre demande d'acompte en date du <b>{{ "now"|date("d-m-Y") }}</b>
        </p>

        <p>
            C'est avec grand intérêt que nous étudierons son contenu selon les lois et règles en application.
        </p>

        <p>
            Vous serez tenu informé, dans les plus brefs délais de la suite donnée au traitement.
        </p>

        <p>
            Cordialement.
        </p>


    </td>
</tr>