<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>

        <p>
            Suite à votre demande de mise à disposition via  <a href="{{  url }}"> notre site </a>  pour le compte de l’établissement
            <b>{{ ch }}</b>
           dans le service :

        <ul>
            {% for item in specialites %}
                <li>
                    {{ item }}
                </li>
            {% endfor %}
        </ul>

        Et pour la période allant du  <b>{{ date_debut | date("d-m-Y") }} au {{ date_fin | date("d-m-Y") }},</b>

        </p>
        <p>
            vous êtes informé que nous accusons bonne réception de votre demande de devis en date du <b>{{ date('now') | date("d-m-Y") }}.</b>
        </p>

        <p>
            Votre dossier sera traité dans les plus brefs délais. Nous vous revenons ultérieurement pour plus de détails y afférent.
        </p>

        <p>
            Merci pour votre confiance !
        </p>




    </td>
</tr>