<html>
{{ include('@RMSApi/Mail/commun/header.html.twig') }}
<body>
<div style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;width:100%!important">
    <table align="center" border="0" cellspacing="0" cellpadding="0"
           style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
        <tbody>
        <tr>
            <td align="center">
                <center style="width:100%">
                    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0"
                           style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif"
                           width="512">
                        <tbody>
                        {{ include('@RMSApi/Mail/commun/logo.html.twig') }}
                        <tr>
                            <td align="left">
                                <table border="0" cellspacing="0" cellpadding="0"
                                       style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                    <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table border="0" cellspacing="0" cellpadding="0"
                                                   style="font-weight:200;font-family:Helvetica,Arial,sans-serif"
                                                   width="100%">
                                                <tbody>

                                                <tr>
                                                    <td align="center" style="padding:20px 0 10px 0">
                                                        <table border="0" cellspacing="0" cellpadding="0"
                                                               style="font-weight:200;font-family:Helvetica,Arial,sans-serif"
                                                               width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" width="100%"
                                                                    style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
                                                                    <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;">
                                                                        Bonjour {{ civilite }}
                                                                        . {{ docteur  |upper }}</h3>
                                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                                           style="font-weight:200;font-family:Helvetica,Arial,sans-serif"
                                                                           width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" width="100%"
                                                                                style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">

                                                                                <table align="center">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="border:none;border-radius:25px;color:#fff;padding:10px 25px"
                                                                                            align="center"
                                                                                            valign="middle"
                                                                                            bgcolor="#3a97a2">
                                                                                            <p style="text-decoration:none;line-height:100%;background:#3a97a2;color:#fff;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin:0px">
                                                                                                <a href="{{ url }}"
                                                                                                   style="text-decoration:none;color:#fff"
                                                                                                   target="_blank">Réinitialisez
                                                                                                    votre mot de
                                                                                                    passe</a>
                                                                                            </p>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                            </tr>
                                                            <tr>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {{ include('@RMSApi/Mail/commun/footer.html.twig') }}

                                    </tbody>
                                </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>
