<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Bonjour,</p>

<p>{{data.auteur.nom | title }} {{data.auteur.prenom | title }}
    vient d'inscrire un nouvel utilisateur sur la plateforme :</p>
<p>Nom :  {{ data.user.nom | title }} {{ data.user.prenom | title }}</p>
<p>E-mail : {{ data.user.email   }}</p>

<p>l'equipe {{ data.equipe }}!</p>
<p>{{ data.contact }}</p>
</body>
</html>
