<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Bonjour,</p>

<p>Nouvel inscription d'un utilisateur sur votre site :</p>
<p>Nom :  {{ data.user.nom | title }} {{ data.user.prenom| title  }}</p>
<p>E-mail : {{ data.user.email  }}</p>

<p>l'equipe {{ data.equipe }}!</p>
<p>{{ data.contact }}</p>
</body>
</html>
