<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;width:100%!important">
    <div class="adM">
    </div>
    <table align="center" border="0" cellspacing="0" cellpadding="0"
           style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="00%">
        <tbody>
        <tr>
            <td >

                <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0"
                       style="margin:0 auto;max-width:729px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif"
                       width="512">
                    <tbody>

                    <tr>
                        <td align="left">
                            <table border="0" cellspacing="0" cellpadding="0"
                                   style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                                <tbody>
                                <tr>

                                    <td width="100%">
                                        <table border="0" cellspacing="0" cellpadding="0"
                                               style="font-weight:200;font-family:Helvetica,Arial,sans-serif"
                                               width="100%">
                                            <tbody>

                                            <tr>
                                                <td >
                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                           style="font-weight:200;font-family:Helvetica,Arial,sans-serif"
                                                           width="100%">
                                                        <tbody>
                                                        {{ include('emails/commun/logo.html.twig') }}


                                                        {{ include(  template ) }}
                                                         <p>
                                                             {{ include('emails/commun/button_profil_interne.html.twig') }}
                                                         </p>



                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                            </tr>
                                            <tr>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    {{ include('emails/commun/footer.html.twig') }}


                    </tbody>
                </table>





            </td>
        </tr>
        </tbody>

    </table>
    <hr>
</div>
</body>
</html>

