<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px;" >Bonjour Mr/Mme {{ data.user.nom | title }},</h3>
        <p>
            Nous avons le plaisir de vous annoncer la modification de votre mot de passe sur notre Application ERP:
        </p>
        <p>
            Nouveau mot de passe: {{ data.pwd }} <br/>
        </p>
        <p>
            Cordialement.
        </p>

        <p>l'equipe {{ data.equipe }}!</p>
        <p>{{ data.contact }}</p>
    </td>
</tr>
