<tr>
    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr {{ docteur  | upper }}</h3>
        <p>
            Nous vous prions de bien vouloir nous envoyer vos justificatifs de missions pour le mois de <strong>{{ periode }}</strong> (tickets péages, billets train, tickets taxi, tickets de transports en commun...).
        </p>
        <ul>
            <li>
                Si vous avez emprunté un trajet sans péage, veuillez nous envoyer un justificatif d'achat de carburant ou une attestation sur l'honneur faisant foi du trajet emprunté.
            </li>
            <li>
                Si vous avez un abonnement télépéage, merci de nous le signaler par mail.
            </li>
        </ul>
        <p>Le remboursement des indemnités Kilométriques est effectué sur la base des informations présentes sur votre Carte Grise. </p>
        <p>
            Nous précisons que le moyen le plus simple et rapide est de transmettre vos justificatifs à partir de votre espace "MyRMS" ou de les envoyer par mail (compta@reseaumedical.fr) ou par fax (05 35 54 13 46) au plus tard le 05 du mois suivant la mission.<br/>
            Toute transmission au-delà de cette date ne pourra être comptabilisée dans le remboursement des frais de mission de la période concernée et fera l'objet de régularisation au mois suivant (sur présentation de justificatifs).
        </p>
        <p>
            <strong>NB</strong> : Le remboursement de carburant ne se fait que par accord préalable et le cas échéant lorsqu’il s’agit d’une location de véhicule avec l’autorisation expresse des parties (RMS+CH).
        </p>
        <p>
            Vous remerciant par avance de votre collaboration.
        </p>
        <p>
            <strong>PS</strong>: Si, à la réception de ce mail vous avez déjà envoyé vos justificatifs, veuillez ne pas en tenir compte.
        </p>


    </td>
</tr>