<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Bienvenue {{ data.user.nom | title }} {{ data.user.prenom | title }}!</p>

Veuillez recevoir vos identifiants de connexion sur la plateforme {{ data.plateforme }}.

<p>E-mail :  {{ data.user.email }}</p>
<p>Mot de passe : </p>

<p>l'equipe {{ data.equipe | upper  }}!</p>
<p>{{ data.contact }}</p>
</body>
</html>
