<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Bienvenue {{ data.user.nom | title  }} {{ data.user.prenom | title  }}!</p>

Il ne vous reste plus qu'à finaliser votre inscription.

<p>Confirmer votre adresse e-mail en cliquant sur ce lien : <a href="{{ data.url }}">cliquez-ici</a></p>

<p>Nous vous remercions pour votre confiance !</p>

<p>l'equipe {{ data.equipe | upper }}!</p>
<p>{{ data.contact | title  }}</p>
</body>
</html>
