<meta charset="UTF-8" />
<table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
    <tbody>

    <tr>
        <td align="center" style="padding:20px 0 10px 0">
            <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%" style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">

                        <p>
                            Nous avons le plaisir de vous adresser ci-joint  le contrat pour le {{ ch }}
                        </p>


                        <p>
                            Votre contrat de mission qui reprend les termes de notre accord.

                        </p>

                        <p>
                            <b>Merci de bien vouloir le signer &eacute;lectroniquement en cliquant sur le lien ci-dessous.</b>

                        <p>
                            {% if lieu is defined %}
                            Pour votre h&eacute;bergement, nous vous prions de prendre contact rapidement avec l&#39;h&ocirc;tel suivant afin de connaitre l&#39;horaire de r&eacute;servation :
                        <ul>

                            <li>
                                <b>Lieu :</b> {{ lieu }}  {{ etoile }} *

                            </li>
                            <li>
                                <b>Adresse :</b>  {{ adresse }}
                            </li>
                            <li>
                                <b>Telephone</b> : {{ telephone }}
                            </li>
                        </ul>


                        {{ remarque | raw }}
                        {% endif %}
                        <p>
                            Vous pouvez nous joindre, au besoin, sur le num&eacute;ro d&#39;astreinte <b> 06 69 46 22 11</b>, en dehors des heures de bureau.
                        </p>
                        <p>

                            En restant &agrave; votre disposition pour toute information.
                        </p>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>