<meta charset="UTF-8"/>
<table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;font-family:Helvetica,Arial,sans-serif"
       width="100%">
    <tbody>

    <tr>
        <td align="center" style="padding:20px 0 10px 0">
            <table border="0" cellspacing="0" cellpadding="0"
                   style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%"
                        style="padding: 0 15px;text-align: justify;color: rgb(76, 76, 76);font-size: 15px;line-height: 18px;">

                        <p>
                            Nous avons le plaisir de vous adresser ci-joint:
                        </p>


                        <p>
                            La Convention de mise &agrave; disposition du Dr <b>{{ nom  | upper }}</b>

                        </p>


                        <p>
                            En vous remerciant de votre confiance, nous vous prions de recevoir nos salutations distingu&eacute;es.
                        </p>
                        <p>
                            Service Comptabilit&eacute;.
                        </p>
                        <p>

                            R&Eacute;SEAU M&eacute;DICAL SERVICES
                            <br>
                            3 Avenue Paul Langevin - Enora Park<br>
                            33600 PESSAC<br>
                            Tel: <br>
                            Astreinte (24/24 et 7/7) :<br>
                            Fax:<br>
                            Mail: compta&#64;reseaumedical.fr<br>
                            Web: www.reseaumedical.fr<br>
                        </p>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    </tbody>

</table>
