


<tr>
    <td  width="100%"
         style="padding:0 15px;text-align:justify;color:rgb(76,76,76);font-size:15px;line-height:18px">
        <p>
        {% if type ==false %}
        <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour Dr <b>{{ nom }}</b>  </h3>
         {% endif %}

        {% if type == true %}
            <h3 style="font-weight: 600; padding: 0px; margin: 0px; font-size: 16px; line-height: 24px; text-align: center;" >Bonjour,</h3>
        {% endif %}
        </p>

        {{ message | raw }}

    </td>
</tr>