<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        <!-- header-start -->

        <!-- header-end -->
        {% block body %}{% endblock %}

        <!-- footer start -->

        <!--/ footer end  -->

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
