{% extends 'base.html.twig' %}

{% block body %}
    <div class="testimonial_area" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../../assets/site/img/about.svg" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Qui sommes-nous ?</h3>
                    <p>
                        Réseau Médical Services est une agence spécialisée dans le 
                        remplacement médical, qui assure la continuité des soins aux 
                        structures de santé en France, en leur fournissant les meilleurs 
                        médecins. Grâce à son vivier de qualité comptant à son actif 
                        plusieurs milliers de professionnels de santé toutes spécialités 
                        confondues, RMS garantit des remplacements médicaux rapides et 
                        fiables avec le concours de ses collaborateurs intérimaires.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="top_companies_area" style="padding-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Notre métier</h3>
                    <p>
                        Déjà une génération que RMS s’exécute à mettre au service 
                        des structures de santé, des médecins et des paramédicaux 
                        compétents et méthodiques. Son processus de mise à disposition 
                        est traité avec célérité en sus des relations de confiance que 
                        RMS entretient avec ses collaborateurs. Ayant conscience de la 
                        complexité du labeur qu’implique le remplacement médical, RMS 
                        intègre dans son système de fonctionnement, des solutions 
                        technologiques qui vous facilitent la prise en main de votre 
                        environnement de travail, que vous soyez un médecin ou un centre 
                        hospitalier.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial_area  ">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../../assets/site/img/history.svg" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Notre histoire</h3>
                    <p>
                        RMS voit le jour en 2010 dans le marché du remplacement médical. 
                        Depuis 10 ans, RMS se fond parfaitement à la politique de développement 
                        des entreprises de santé avec lesquelles il collabore. Inscrit dans une 
                        politique de démarche de proximité, RMS s’est jusqu’ici engagé dans des 
                        rapports étroits avec ses clients et ses intérimaires pour leur apporter 
                        un service compétitif.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
