
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="../site/img/blog/single_blog_1.png" alt="">
                   </div>
                   <div class="blog_details">
                      <h2>Second divided from form fish beast made every of seas
                         all gathered us saying he our
                      </h2>
                      <ul class="blog-info-link mt-3 mb-4">
                         <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                         <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                      </ul>
                      <p class="excert">
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower
                      </p>
                      <p>
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower to actually sit through a
                         self-imposed MCSE training. who has the willpower to actually
                      </p>
                      <div class="quote-wrapper">
                         <div class="quotes">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at
                            a fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training.
                         </div>
                      </div>
                      <p>
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower
                      </p>
                      <p>
                         MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                         should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                         fraction of the camp price. However, who has the willpower to actually sit through a
                         self-imposed MCSE training. who has the willpower to actually
                      </p>
                   </div>
                </div>
                
                <div class="blog-author">
                   <div class="media align-items-center" style="margin-top: 80px;">
                       <div class="row">
                            <div class="col-md-2">
                                <img src="../site/img/blog/author.png" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="media-body">
                                    <a href="#">
                                       <h4>Harvard milan</h4>
                                    </a>
                                    <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                       our dominion twon Second divided from</p>
                                 </div>
                            </div>
                            <div class="col-md-2">
                                <div class="navigation-top">
                                    <div class="d-sm-flex justify-content-between text-center">
                                       <ul class="social-icons">
                                          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                   <h4>05 Commentaires</h4>
                   <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                            <div class="thumb">
                               <img src="../site/img/comment/comment_1.png" alt="">
                            </div>
                            <div class="desc">
                               <p class="comment">
                                  Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                  Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        <a href="#">Emilly Blunt</a>
                                     </h5>
                                     <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                            <div class="thumb">
                               <img src="../site/img/comment/comment_2.png" alt="">
                            </div>
                            <div class="desc">
                               <p class="comment">
                                  Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                  Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        <a href="#">Emilly Blunt</a>
                                     </h5>
                                     <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                            <div class="thumb">
                               <img src="../site/img/comment/comment_3.png" alt="">
                            </div>
                            <div class="desc">
                               <p class="comment">
                                  Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                  Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        <a href="#">Emilly Blunt</a>
                                     </h5>
                                     <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="comment-form">
                   <h4>Laisser un commentaire</h4>
                   <form class="form-contact comment_form" action="#" id="commentForm">
                      <div class="row">
                         <div class="col-12">
                            <div class="form-group">
                               <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                  placeholder="Ecrire votre commentaire"></textarea>
                            </div>
                         </div>
                         <div class="col-sm-6">
                            <div class="form-group">
                               <input class="form-control" name="name" id="name" type="text" placeholder="Nom">
                            </div>
                         </div>
                         <div class="col-sm-6">
                            <div class="form-group">
                               <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                         <button type="submit" class="button button-contactForm btn_1 boxed-btn">Envoyer</button>
                      </div>
                   </form>
                </div>
             </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Search</button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Categorie</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Urgences </p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Anesthesie</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Rhumatologie</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Cardiologie</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p> Nephrologie</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Geriatrie</p>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Post Recent</h3>
                        <div class="media post_item">
                            <img src="../site/img/post/post_1.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../site/img/post/post_2.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../site/img/post/post_3.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="../site/img/post/post_4.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag</h4>
                        <ul class="list">
                            <li>
                                <a href="#">urgence</a>
                            </li>
                            <li>
                                <a href="#">radiologie</a>
                            </li>
                            <li>
                                <a href="#">pneumologie</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">anesthesie</a>
                            </li>
                            <li>
                                <a href="#">cardiologie</a>
                            </li>
                            <li>
                                <a href="#">psychiatrie</a>
                            </li>
                            <li>
                                <a href="#">pediatrie</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->