{% extends 'base.html.twig' %}

{% block body %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-12">
                <div class="bradcam_text">
                    <form action="#">
                        <h3 style="color: #002766; font-size: 22px;">Obtenez un devis</h3> <br>
                        <div class="row">
                            <div class="input-group col-md-3 col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md">
                                        <i class="fa fa-h-square text-muted"></i>
                                    </span>
                                </div>
                                <input id="firstName" type="text" name="namech" placeholder="Nom d'établissement" class="form-control bg-white border-left-0 border-md">
                            </div>

                            <div class="input-group col-md-3 col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md">
                                        <i class="fa fa-user text-muted"></i>
                                    </span>
                                </div>
                                <input id="name" type="text" name="name" placeholder="Nom" class="form-control bg-white border-left-0 border-md">
                            </div>

                            <div class="input-group col-md-3 col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md">
                                        <i class="fa fa-envelope text-muted"></i>
                                    </span>
                                </div>
                                <input id="firstName" type="email" name="email" placeholder="Email" class="form-control bg-white border-left-0 border-md">
                            </div>
                            <div class="input-group col-md-3 col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md">
                                        <i class="fa fa-phone text-muted"></i>
                                    </span>
                                </div>
                                <input id="firstName" type="tel" name="tel" placeholder="Tel" class="form-control bg-white border-left-0 border-md">
                            </div>

                            <div class="input-group col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                                        <i class="fa fa-cogs text-muted"></i>
                                    </span>
                                </div>
                                <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md">
                                    <option value="">Service</option>
                                </select>
                            </div>
                            <!-- Submit Button -->
                            <div class="form-group  col-md-1 col-lg-1 mb-0">
                                <a href="#" class="boxed-btn3 btn-block py-2">
                                    <span class="font-weight-bold"><i class="fa fa-search"></i></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- job_listing_area_start  -->
 <div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="job_lists" >
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 40%; margin-right: 20px;">
                                    <img src="../../../assets/site/img/svg_icon/suitcase.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Un vivier pluridisciplinaire</h4>
                                    <p> 
                                        Quelque soit la spécialité que vous recherchez, 
                                        vous trouverez le profil type pour votre remplacement 
                                        chez RMS avec une base de plus de 20 000 médecins.     
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 40%; margin-right: 20px;">
                                    <img src="../../../assets/site/img/svg_icon/agreement.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Un recrutement sans délais</h4>
                                    <p>
                                        RMS depuis 10 ans a conçu des méthodes de sourcing bien 
                                        élaborées qui vous permettent d’avoir au sein de votre 
                                        structure de santé, les profils adéquats à votre demande.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 40%; margin-right: 20px;">
                                    <img src="../../../assets/site/img/svg_icon/phone.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Permanence téléphonique</h4>
                                    <p> 
                                        RMS met en permanence un support téléphonique avec des 
                                        conseillers aptes qui répondent promptement à toutes vos 
                                        questions et vous proposent des alternatives à vos problèmes.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 35%; margin-right: 20px;">
                                    <img src="../../../assets/site/img/svg_icon/idea.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Des solutions technologiques</h4>
                                    <p> 
                                        Les outils novateurs de RMS en termes de recrutement 
                                        vous facilitent la prise en main sur votre personnel 
                                        intérimaire.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->

{% endblock %}
