{% extends 'base.html.twig' %}

{% block body %}
 <!-- job_listing_area_start  -->
 <div class="job_listing_area plus_padding" style="padding-top: 100px;">
    <div class="container connexion">
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6">
                <h3 class="text-center">Connexion</h3> <br><br>
                <form action="#">
                    <div class="row">
                        <!-- First Name -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="firstName" type="text" name="firstname" placeholder="Nom" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Password -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="password" type="password" name="password" placeholder="Mot de passe" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <div class="input-group col-lg-12 mb-4">
                            <p class="text-muted"><a href="#" class="ml-2">Mot de passe oublié ?</a></p>
                        </div>
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <a href="#" class="boxed-btn3 btn-block py-2">
                                <span class="font-weight-bold">Se connecter</span>
                            </a>
                        </div>

                        <!-- Divider Text -->
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted">Ou</span>
                            <div class="border-bottom w-100 mr-5"></div>
                        </div>

                        <!-- Social Login -->
                        <div class="form-group col-lg-12 mx-auto">
                            <a href="#" class="btn btn-danger btn-block py-2 btn-twitter">
                                <i class="fa fa-google-plus mr-2"></i>
                                <span class="font-weight-bold">Créer avec Google +</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                                <i class="fa fa-linkedin mr-2"></i>
                                <span class="font-weight-bold">Créer avec Linkedin</span>
                            </a>
                            <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                                <i class="fa fa-facebook-f mr-2"></i>
                                <span class="font-weight-bold">Créer avec Facebook</span>
                            </a>
                           
                        </div>

                        <!-- Already Registered -->
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold"> <a routerLink="/inscription" class="ml-2">Incrivez-vous</a></p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->
{% endblock %}