{% extends 'base.html.twig' %}

{% block body %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text" style="margin-top: 120px;">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s"></h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s"><strong>RESEAU MÉDICAL SERVICES</strong></h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                Des médecins de qualité, un service de proximité <br>
                                Faites nous parvenir vos besoins depuis le site.
                            </p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="{{ path('about') }}" class="boxed-btn3">Qui sommes-nous</a> <br>
                                <a href="{{ path('offres') }}" class="boxed-btn3" style="margin-top: 10px;">Trouvez une offre&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="../site/img/banner/illustration2.png" alt="">
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- catagory_area -->
    <div class="catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="../site/img/banner/Search engines-pana.png" width="100%" alt="">
                </div>
                <div class="col-lg-9">
                    <div class="popular_search d-flex align-items-center">
                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <span>Recherche populaire: </span> <br>
                            <a href="#" class="boxed-btn4">Nephrologie</a> 
                            <a href="#" class="boxed-btn4" style="margin-top: 10px;">Rhumatologie</a> 
                            <a href="#" class="boxed-btn4">Urgences</a> 
                            <a href="#" class="boxed-btn4" style="margin-top: 10px;">Anesthesie</a> 
                            <a href="#" class="boxed-btn4">Nephrologie</a> 
                            <a href="#" class="boxed-btn4" style="margin-top: 10px;">Pneumologie</a> 
                            <a href="#" class="boxed-btn4">Cardiologie</a> 
                            <a href="#" class="boxed-btn4" style="margin-top: 10px;">Geriatrie</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ catagory_area -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area">
        <div class="container">
            <div class="job_lists" >
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between"  style="margin-top: 100px;">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="../site/img/svg_icon/7.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="{{ path('medecin') }}"><h4>Medecin</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> 
                                            Proposer aux médecins des prestations en continu et dans des bonnes 
                                            conditions de travail. bienvenue dans myrms ! decouvrez.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="../site/img/svg_icon/10.svg" width="100%" alt="" >
                                </div>
                                <div class="jobs_conetent">
                                    <a href="{{ path('offres') }}"><h4>Centre Hospitalier</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> 
                                                Proposer aux établissements de santé, des médecins compétents, en adéquation 
                                                avec leurs besoins, pour assurer vos missions.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->


    <!-- job_searcing_wrap  -->
    <div class="job_searcing_wrap overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="searching_text">
                        <p>
                            <img src="../site/img/stethoscope.png" width="30%" alt="" > <br><br> 
                        <strong style="font-size: 35px;">16933</strong> <br>
                            Médecins collaborateurs</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="searching_text">
                        <p>
                            <img src="../site/img/hospital-sign.png" width="30%" alt="" > <br> <br>
                            <strong style="font-size: 35px;">401</strong> <br> Strucutures partenaires depuis 2010</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="searching_text">
                        <p>
                            <img src="../site/img/deal.png" width="30%" alt="" > <br> <br>
                            <strong style="font-size: 35px;">12084</strong> <br> Vacations en 2020
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_searcing_wrap end  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area  ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Avis</h3>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="../site/img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="../site/img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class=" Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="../site/img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

    <div class="featured_candidates_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel" style="margin-top: 100px;">
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img src="../site/img/candiateds/9.png" alt="">
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img src="../site/img/candiateds/9.png" alt="">
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img src="../site/img/candiateds/9.png" alt="">
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img src="../site/img/candiateds/9.png" alt="">
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img src="../site/img/candiateds/9.png" alt="">
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img src="../site/img/candiateds/9.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}