{% extends 'base.html.twig' %}

{% block body %}
    <div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-12">
                <div class="bradcam_text">
                    <form action="#">
                        <h3 style="color: #002766; font-size: 22px;">Trouvez une offre</h3> <br>
                        <div class="row">
                            <div class="input-group col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                                        <i class="fa fa-calendar text-muted"></i>
                                    </span>
                                </div>
                                <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md">
                                    <option value="">Par mois</option>
                                    <option value="">Janvier</option>
                                    <option value="">Février</option>
                                    <option value="">Mars</option>
                                    <option value="">Avril</option>
                                </select>
                            </div>

                            <div class="input-group col-md-3 col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md">
                                        <i class="fa fa-user text-muted"></i>
                                    </span>
                                </div>
                                <input id="firstName" type="text" name="firstname" placeholder="Par Spécialité" class="form-control bg-white border-left-0 border-md">
                            </div>

                            <div class="input-group col-md-3 col-lg-3 mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white px-4 border-md">
                                        <i class="fa fa-map-marker text-muted"></i>
                                    </span>
                                </div>
                                <input id="firstName" type="text" name="firstname" placeholder="Par departement" class="form-control bg-white border-left-0 border-md">
                            </div>
    


                            <!-- Submit Button -->
                            <div class="form-group  col-md-1 col-lg-1 mb-0">
                                <a href="#" class="boxed-btn3 btn-block py-2">
                                    <span class="font-weight-bold"><i class="fa fa-search"></i></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- job_listing_area_start  -->
 <div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="job_lists" >
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/phone.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Un support disponible 24/7</h4>
                                    <p> 
                                        Bénéficiez d’un soutien permanent avec notre équipe de conseillers réactifs à votre écoute.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/agreement.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Un rapport de proximité</h4>
                                    <p> 
                                        RMS, c’est des relations interpersonnelles de confiance riches en expérience et en découvertes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 15%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/calendar.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Vos disponibilités personnalisées</h4>
                                    <p> 
                                        RMS vous informe de toutes les dates qui matchent avec vos disponibilités par email et par SMS.                                            
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/flexibility.svg" width="100%" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Une flexibilité</h4>
                                    <p> 
                                        Exercez vos compétences de manière flexible dans toute la France et outre-mer.                                            
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/folder.svg" width="100%" alt="" >
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Un traitement rapide</h4>
                                    <p> 
                                        Vos candidatures sont traitées avec célérité et minutie. Saisissez l’opportunité de commencer rapidement une mission en adéquation avec vos disponibilités                                           
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/contract.svg" width="100%" alt="" >
                                </div>
                                <div class="jobs_conetent">
                                    <h4>CDD et CDI intérimaire</h4>
                                    <p>
                                        RMS vous propose le type de contrat qui vous sied. Effectuez des missions continues en cas de CDI intérimaire, ou des vacations en situation de CDD.                                            
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/brain.svg" width="100%" alt="" >
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Gestion intelligente de vos missions</h4>
                                    <p>
                                        L’ensemble du processus d’exécution de vos missions est informatisé et automatisé par des solutions digitales de dernière technologie. MyRMS et Hop!RMS centralisent vos données. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div style="width: 20%; margin-right: 20px;">
                                    <img src="../site/img/svg_icon/credit-card.svg" width="100%" alt="" >
                                </div>
                                <div class="jobs_conetent">
                                    <h4>Diligence dans les paiements</h4>
                                    <p>
                                        Vous êtes rétribuez de votre mission dans les douze jours qui suivent la fin du contrat. Le remboursement de tous vos frais de mission est effectué sous présentation d’un justificatif.                                            
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->

{% endblock %}