{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding" style="padding-top: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4" style="margin-bottom: 12px;">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3></h3>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>Affinez votre recherche</h3>
                                        <form>
                                            <hr>
                                            <label for="" style="color: #002766;"><strong>Mois</strong></label>
                                            <div class="form-check">
                                            <input type="checkbox" name="mois" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1"> <span class="badge badge-secondary" style="background-color: #002766;">35</span> Juillet</label>
                                            </div>

                                            <hr>
                                            <label for="" style="color: #002766;"><strong>Spécialité</strong></label>
                                            <div class="form-check">
                                            <input type="checkbox" name="specialite" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2 "> <span class="badge badge-secondary" style="background-color: #002766;">5</span> Medecine Polyvalente</label>
                                            </div>

                                            <hr>
                                            <label for="" style="color: #002766;"><strong>Departement</strong></label>
                                            <div class="form-check">
                                            <input type="checkbox" name="departement" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> <span class="badge badge-secondary" style="background-color: #002766;">7</span> Loire (42)</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-8 col-md-8"> 
                    <div class="job_lists m-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <a routerLink="/offre"><h4>RMS-2043-REANIMATION-9-2020 MÉDECIN REANIMATEUR</h4></a>
                                            <p>Présentation du service :
                                                Une unité de réanimation médico-chirurgicale</p>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> AISNE</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> Interim | 1 vacation(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Voir</a>
                                        </div>
                                        <div class="date">
                                            <p> <i class="fa fa-calendar"></i> 30 juin 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <a href="job_details.html"><h4>RMS-2040-ANESTHESIE-8-2020 MÉDECIN ANESTHESISTE</h4></a>
                                            <p>Le médecin intérimaire travaillera avec un titulaire et 4 IADE.

                                                Il interviendra principale</p>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> CÔTES-D'ARMOR </p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> Interim | 7 vacation(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Voir</a>
                                        </div>
                                        <div class="date">
                                            <p> <i class="fa fa-calendar"></i> 26 juin 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <a href="job_details.html"><h4>RMS-2039-URGENCES-11-2020 MÉDECIN URGENTISTE</h4></a>
                                            <p>Infos pratiques service SAU :
                                                Il y'a une unité d'hospitalisation de</p>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i>ALLIER</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> Interim | 2 vacation(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Voir</a>
                                        </div>
                                        <div class="date">
                                            <p> <i class="fa fa-calendar"></i> 25 juin 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <a href="job_details.html"><h4>RMS-2040-ANESTHESIE-8-2020 MÉDECIN ANESTHESISTE</h4></a>
                                            <p>Le médecin intérimaire travaillera avec un titulaire et 4 IADE.

                                                Il interviendra principale</p>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> CÔTES-D'ARMOR </p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> Interim | 7 vacation(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Voir</a>
                                        </div>
                                        <div class="date">
                                            <p> <i class="fa fa-calendar"></i> 26 juin 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <a href="job_details.html"><h4>RMS-2043-REANIMATION-9-2020    MÉDECIN REANIMATEUR</h4></a>
                                            <p>Présentation du service :

                                                Une unité de réanimation médico-chirurgicale</p>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> AISNE</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> Interim | 1 vacation(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Voir</a>
                                        </div>
                                        <div class="date">
                                            <p> <i class="fa fa-calendar"></i> 30 juin 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <a href="job_details.html"><h4>RMS-2040-ANESTHESIE-8-2020 MÉDECIN ANESTHESISTE</h4></a>
                                            <p>Le médecin intérimaire travaillera avec un titulaire et 4 IADE.

                                                Il interviendra principale</p>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> CÔTES-D'ARMOR </p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i> Interim | 7 vacation(s)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Voir</a>
                                        </div>
                                        <div class="date">
                                            <p> <i class="fa fa-calendar"></i> 26 juin 2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
{% endblock %}
