{% extends 'base.html.twig' %}

{% block body %}
    <div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Résumé du travail</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> : <span>AISNE</span></li>
                            <li><i class="fa fa-clock-o"></i> : <span>Interim | 1 vacation(s)</span></li>
                        </ul>
                        <div class="submit_btn">
                            <a class="boxed-btn3 w-100" href=""><i class="fa fa-calendar"></i> Voir les dates</a>
                        </div>
                    </div>
                </div>
                <div class="share_wrap d-flex">
                    <span>Partager sur:</span>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-linkedin"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="jobs_conetent">
                                <a href="#"><h4>RMS-2043-REANIMATION-9-2020 MÉDECIN REANIMATEUR</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> </p>
                                    </div>
                                    <div class="location">
                                        <p> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Profil Recherché</h4>
                        <p>Médecin qualifié par le CNOM en FRANCE: REANIMATION,</p>
                    </div>
                    <div class="single_wrap">
                        <h4>Description Du Poste</h4>
                        <p>Présentation du service :</p>
                        <ul>
                            <li>Une unité de réanimation médico-chirurgicale de 12 lits adulte ;</li>
                            <li>Une unité de surveillance continue de 6 lits adulte ;</li>
                            <li>Equipe médicale composée actuellement de 4 praticiens hospitalier temps Exigences sur le poste</li>
                            <li>Service classé en temps continu. </li>
                            <li>Assurer, dans un secteur spécialisé, et en synergie avec l’encadrement médical et
                                 paramédical du service de réanimation, la prise en charge médicale des patients.</li>
                            <li>Collaborer avec l’encadrement médical et paramédical 
                                du service de réanimation pour coordonner la prise en charge des malades ;</li>
                            <li>Prendre des gardes de réanimation couvrant l’unité de réanimation, l’unité de 
                                surveillance continue, les appels du service d’accueil d’urgence et les appels 
                                des médecins des services d’hospitalisation.</li>
                            <li>Encadrement des internes; </li>
                            <li>Accompagnement des patients et des familles. Pathologies prises en charge dans le service:</li>
                            <li>Pathologies médicales : respiratoires, cardio-vasculaires, rénales, neurologiques, 
                                digestives et toxiques. - Pathologies chirurgicales : particulièrement les chirurgies 
                                viscérales, vasculaire et urologiques.</li>
                            <li>Pathologies obstétriques (peu fréquentes).</li>
                        </ul>
                    </div>
                    <div class="single_wrap">
                        <h4>A Propos Du Client</h4>
                        <p>Centre hospitalier situé dans le Département AISNE</p>
                    </div>
                    <div class="single_wrap">
                        <p><strong>Réseau Médical Services est le partenaire idéal pour vos remplacements.</strong></p>
                    </div>
                </div>
                <div class="apply_job_form white-bg">
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a href="{{ path('offre') }}"><h4>RMS-2043-REANIMATION-9-2020 MÉDECIN REANIMATEUR</h4></a>
                                    <p>Présentation du service :
                                        Une unité de réanimation médico-chirurgicale</p>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> AISNE</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Interim | 1 vacation(s)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a href="{{ path('offre') }}" class="boxed-btn3">Voir</a>
                                </div>
                                <div class="date">
                                    <p> <i class="fa fa-calendar"></i> 30 juin 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a href="{{ path('offre') }}"><h4>RMS-2040-ANESTHESIE-8-2020 MÉDECIN ANESTHESISTE</h4></a>
                                    <p>Le médecin intérimaire travaillera avec un titulaire et 4 IADE.

                                        Il interviendra principale</p>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> CÔTES-D'ARMOR </p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Interim | 7 vacation(s)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a href="{{ path('offre') }}" class="boxed-btn3">Voir</a>
                                </div>
                                <div class="date">
                                    <p> <i class="fa fa-calendar"></i> 26 juin 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a href="{{ path('offre') }}"><h4>RMS-2039-URGENCES-11-2020 MÉDECIN URGENTISTE</h4></a>
                                    <p>Infos pratiques service SAU :
                                        Il y'a une unité d'hospitalisation de</p>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i>ALLIER</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Interim | 2 vacation(s)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a href="{{ path('offre') }}" class="boxed-btn3">Voir</a>
                                </div>
                                <div class="date">
                                    <p> <i class="fa fa-calendar"></i> 25 juin 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
