<html>
<head>
    <link rel="icon" type="image/png" href="https://zupimages.net/up/19/49/yjf3.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style_annexe.scss">
</head>
<body>
    <table style="width: 100%">
        <tr >
            <td colspan="2" style="background-color: rgba(217,217,217,0.29); border: 2px solid #000;text-align: center">
                <h5>
                    Conditions générales applicables au contrat de mission temporaire
                </h5>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 100%;font-size: 7px; word-break: break-word">
                {% if typeAnnexe and typeAnnexe.annexes|length > 0 %}
                    <table style="margin-top: 2%">
                        {% for key, item in typeAnnexe.annexes %}
                            {% set cpt = 0 %}
                            <tr>
                                <td>
                                    <Strong><u>{{ key +1 }}. {{ item.titre | capitalize }}</u></Strong>
                                    {{ item.description | raw }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </td>
        </tr>
    </table>
</body>
</html>
