<table border="0" cellspacing="0" cellpadding="0"
       style="font-weight:200;width:100%!important;font-family:Helvetica,Arial,sans-serif;min-width:100%!important"
       width="100%">
    <tbody>
    <tr>
        <td colspan="5" style="text-align:center;padding-top:20px">


            <a href="{{ url }}"
               target="_blank"
             >

                <img
                        src="https://ci6.googleusercontent.com/proxy/JtSzTNc1LE7ykYwKO9eOQDqSHFbArxJlN42XGdiQoyg5trpbdSbzwiui0lFZX3tPYO8z3TZcMILRFL7FsAEWmof3twmYUjvreFdIwIa8MlaRfp8cTmF82l_IsCt9ujhElNMIWmHtV0fFJXu3itWZmj7Gke4J0cqLQ4Q4kFVEQugvTHMZxfUXvKMf4ZX29_yUqGqVlfDwawUBk6VIRjnPOY6XqcSdW9I59JTuMLtXN_0aj4nHCR6oe6cXiiA5zuA7Y3ZqDP9NLWVsrV6SHuz-lj261kQKMXFDWlBmjQR2F4UFe4_imiwoIOhZJ-MOVNPz-o30SE-Ypya8UoDmyHNPthoGMBmtG8SqA4ofQDQ4B7gNjsWrvvNJROir1oR8S-XPloMFt3ii1po_IXjMpPJWLnpB8bOGlBI7GVzDhEzV_MuDABBU03ED5t-jdStQp18nekfJdg2m85RFBfFD0A-X=s0-d-e1-ft#http://img.email.reseaumedical.fr/im/2078301/1afb85c244e80f859dff4de7d939bcdc9c7c890d8d9b6f049b1e81f963cbf87b.jpg?e=VqeFGYNlSoibhCBoJMfoCukfCBfnAIwzdaPf9LFBjirrqUb4K6295T4dELHeaka-1Mt0t98_dR46qUtz9rclN9ldID3Zoz3pFO3POlAhRtauspJetH2mqGq07LHC7V8j8WmiKllMkrEtZw9wTGgDvHiwQ36K7wrashlczkfgj7qWSdMF5U1vN4MZVwZg3EMQC-bxyMKvZMeXP5rMetZMOTg"
                        alt="" class="CToWUd"></a>
        </td>
    </tr>
    </tbody>
</table>