
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200;width:100%!important;font-family:Helvetica,Arial,sans-serif;min-width:100%!important" width="100%">
            <tbody>
            <tr>
                <td  colspan="5" style="text-align:center;padding-top:20px">



                    <a href="{{ url }}"><img src="https://zupimages.net/up/19/49/k5n8.jpg" alt="" /></a>
                </td>
            </tr>
            </tbody>
        </table>



        