


            <table align="center">
                <tbody>
                <tr>
                    <td style="border:none;border-radius:25px;color:#fff;padding:10px 25px" align="center" valign="middle" bgcolor="#3a97a2">
                        <p style="text-decoration:none;line-height:100%;background:#3a97a2;color:#fff;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin:0px">
                            <a href="{{ url }}" style="text-decoration:none;color:#fff" target="_blank">se connecter</a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>


