<div style="font-family: Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif, serif, EmojiFont; margin-bottom: 20px; padding-right: 30px; padding-left: 30px;">
    <table style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;width:100%;border-collapse:collapse;">
        <tbody>
        <tr style="width:100%; text-align: center">
            <td style="font-size:17px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;vertical-align:top;width:100%;line-height:24px;">
                                                                                    <span style="background-color: rgb(0, 121, 60) !important; display: inline-block; border-radius: 4px;"
                                                                                          data-ogsb="rgb(46, 166, 100)">
                                                                                        <a href="{{ url }}"
                                                                                           target="_blank"
                                                                                           rel="noopener noreferrer"
                                                                                           data-auth="NotApplicable"
                                                                                           style="color: white; font-size: 18px; font-weight: 900; text-align: center; background-color: rgb(46,166,100) !important; display: inline-block; text-decoration: none; border-radius: 4px; border-width: 13px 24px; border-style: solid; border-color: rgb(46, 166, 100); word-break: break-word; line-height: 18px; min-width: 196px;"
                                                                                           data-ogsb="rgb(46, 166, 100)">
                                                                                  Voir son profil</a>
                                                                                    </span></td>
        </tr>
        </tbody>
    </table>
</div>