<tr>
    <td align="center" width="100%">
        <table border="0" cellspacing="0" cellpadding="0" style="font-weight:200" width="100%">
            <tbody>
            <tr>
                <td align="center" width="100%"
                    style="border-top:1px solid #d9d9d9;padding:12px 0px 20px 0px;text-align:center;font-weight:200;font-size:10px;line-height:18px;font-weight:300">
                    ENORA PARC 3 avenue PAUL LANGEVIN, 33600 PESSAC
                    <br>SARL.RÉSEAU MÉDICAL SERVICES @2010 - 2019. Tous droits réservés
                    <br>SIRET: 51836321300035<br> Capital:20000 €
                </td>
            </tr>


            <tr>
                <td style="text-align:center">
                    <a href="http://r.email.reseaumedical.fr/tr/cl/U3wezJLuUW0RU0B_ypMLZhOFD39BVMYRin7aKG-W6oFjk_zFvnuYWDA4iiyn7JMAeI3LY7sXerm7YK2Sg5K_1DHy7w05yl2FG91tzbNM7QHsX48LtUHXAA7DC4XIZeXds-Gbycj951RtFjaK4CfwXiYFqkJ_IoK5VznBRRQWiIL2pjKWMDOLQ60AirfC-ZlCtCx3Y9zf-l1RJj6z04OFaV9f7w"
                       target="_blank"
                       data-saferedirecturl="">
                        <img src="https://zupimages.net/up/20/07/m9sp.png"
                             width="4%" class="CToWUd">
                    </a>

                    <a href="http://r.email.reseaumedical.fr/tr/cl/GPBrppoaeFLQPdSjYEw6GFYYC1JPdwJOhUMzLTQKGekH8oz1HJYaPeMVt2gtjrbF81oGju2z7QtEaQegz_hQWfKePUBQc1udFnNcWLgq_GRPs_gbB3c4EWITf39LNwfr6-PqdUv6zcABVIO7mHqCx1m8MDRyoWwBJ99OE94pHUgUJsZlBVQYmK_OFSqFVI8FerxDvA"
                       target="_blank"
                       >
                        <img src="https://zupimages.net/up/20/07/3r4z.png"
                             width="4%" class="CToWUd">

                    </a>

                    <a href="mailto:contact@reseaumedical.fr" target="_blank">
                        <img
                                src="https://zupimages.net/up/20/07/wfyf.png"
                                width="4%" class="CToWUd">


                    </a>

                    <a href="http://r.email.reseaumedical.fr/tr/cl/n8GKCoDOwqxEhWUvPBVmuOH2pQD_xW8CukSRCl9jVaXUmzshOiyx6AcIO4rYhceuMHiKODBI5DEswFKxh42zJDhmvCoAmGBC7ngQPZWaUSklEcWWLfOeQEhYnYl5lIR0Wu8L2zMI6TDpjn9LoxcdAZRaKR0R6YpHb2XjJI5kD7IiUC3UxYhdbndlwZ6ps2URsWWBnhMCEae4LXy6hU3wkQ"
                       target="_blank"
                      >
                        <img src="https://zupimages.net/up/20/07/tl78.png"
                             width="4%" class="CToWUd">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>