<head>
    <style>
        .banner-color {
            background-color: #eb681f;
        }
        .title-color {
            color: #0066cc;
        }
        .button-color {
            background-color: #0066cc;
        }
        @media screen and (min-width: 500px) {
            .banner-color {
                background-color: #0066cc;
            }
            .title-color {
                color: #eb681f;
            }
            .button-color {
                background-color: #eb681f;
            }
        }


        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #17a2b8;
            color: white;
        }
    </style>
</head>